<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="cache-control" content="no-siteapp,no-cache">
        <meta name="renderer" content="webkit">
        <% if (htmlWebpackPlugin.options.webapp) { %>
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <% } %>
        <title>淘课啦</title>
    </head>
    <body>
        <div id="app"></div>
        <!-- built files will be auto injected -->
        <script type="text/javascript" src="//tajs.qq.com/stats?sId=57546389" charset="UTF-8" async></script>
        <script async>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-19170536-21', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
