<template>

    <a :class="[ looseMode ? 'loose' : 'tight' ]"
        class="course-item">
        <div class="row clearfix">
            <p class="text-primary col-left">{{ course.name }}</p>
        </div>
        <div class="row clearfix">
            <p class="">{{ timeLocation }}</p>
        </div>
        <div :style="itemIconStyle" class="item-icon">
            <slot name="icon"></slot>
        </div>
    </a>

</template>

<script>

    import { formatTimeLocation } from "./util";

    export default {
        props: {
            course: {
                type: Object,
                required: true,
            },
            looseMode: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                height: 40,
            };
        },
        computed: {
            timeLocation() {
                return formatTimeLocation(this.course);
            },
            itemIconStyle() {
                return {
                    width: this.height + "px",
                    lineHeight: this.height + "px",
                };
            },
        },
        methods: {
            resize() {
                this.height = this.$el.offsetHeight;
            },
        },
        ready() {
            this.resize();
            window.addEventListener("resize", this.resize);
        },
    };

</script>

<style src="./style.css" scoped></style>

<style scoped>

    .course-item {
        color: #a1a1a1;
        position: relative;
    }

    .item-icon {
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        position: absolute;
    }

    .item-icon * {
        vertical-align: middle;
    }

</style>
