.course-item {
    padding: .333333rem .4rem;
    background: #fff;
    border: 1px solid #c9c9c9;
    border-width: 1px 0;
    color: #8e8e8e;
    display: block;
}

.course-item:last-of-type {
    margin-bottom: .266667rem;
}

.course-item:not(:last-of-type) {
    border-bottom: 0;
}

[data-device="other"] .course-item {
    background: #fafafa;
}

[data-device="other"] .course-item.loose {
    margin: .266667rem;
    border-radius: 2px;
    box-shadow: 0 .4px 1px .3px rgba(0, 0, 0, .37);
}

[data-device="other"] .course-item.loose:first-child {
    margin-top: 0;
}

.text-primary {
    color: #212121;
    font-weight: 900;
}

.row:not(:first-child) {
    padding-top: .266667rem;
}

.font-large {
    font-size: 14px;
}

[data-dpr="2"] .font-large {
    font-size: 28px;
}

[data-dpr="3"] .font-large {
    font-size: 42px;
}

.font-small {
    font-size: 11px;
}

[data-dpr="2"] .font-small {
    font-size: 22px;
}

[data-dpr="3"] .font-small {
    font-size: 33px;
}

.col-left,
.col-right {
    float: left;
    min-height: 1px;
}

.col-left {
    width: 55%;
}

.col-right {
    width: 45%;
    text-align: right;
}
