<template>

    <div class="guide">
        <popup v-ref:popup>
            <h3>新手指引</h3>
            <ul class="list">
                <li v-for="guide in guideList"
                    class="list-item">
                    <p class="title">
                        {{ guide.title }}
                    </p>
                    <p class="content">
                        {{ guide.content }}
                    </p>
                </li>
            </ul>
            <div class="operation">
                <button
                    @click="close"
                    class="btn bg-green">
                    我明白了
                </button>
            </div>
        </popup>
    </div>

</template>

<script>

    import Popup from "module/pc/Popup";

    export default {
        components: {
            Popup,
        },
        props: {
            guideList: {
                type: Array,
                default() {
                    return [];
                },
            },
            deleteGuide: {
                type: Function,
                default: () => {},
            },
        },
        methods: {
            show() {
                this.$refs.popup.show();
            },
            close() {
                this.$refs.popup.hide();
                this.deleteGuide();
            },
        },
    };

</script>

<style scoped>

    .guide {
        line-height: 1.5;
        font-size: 14px;
    }

    .guide h3 {
        margin: 0;
        margin-bottom: .6em;
        font-weight: 600;
    }

    .list-item {
        margin-bottom: 5px;
    }

    .title {
        color: #eb9444;
        font-weight: 600;
    }

    .content {
        color: #1f1f1f;
    }

    .title,
    .content {
        text-indent: 20px;
    }

    .operation {
        margin-top: 15px;
        text-align: right;
    }

</style>
