<template>

    <div></div>

</template>

<script>

    import Highcharts from "highcharts";

    const fontFamily = `
        "Hiragino Sans GB W3", "NotoSansCJKsc-Regular",
        "Microsoft Yahei", "微软雅黑", "STHeiti", "黑体",
        "WenQuanYi Micro Hei", "Lucida Grande",
        "Lucida Sans Unicode", Verdana, Arial,
        Helvetica, sans-serif
    `;
    const defaultOptions = {
        chart: {
            renderTo: "chart1",
            backgroundColor: null,
            marginTop: 20,
            marginBottom: 60,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            style: {
                color: "#222222",
            },
        },
        colors: [ "#f98a4a", "#eead87", "#cacaca" ],
        credits: {
            enabled: false,
        },
        title: {
            y: 5,
            style: {
                fontFamily,
                fontSize: "16px",
            },
        },
        tooltip: {
            formatter() {
                const name = this.point.name;
                const count = Highcharts.numberFormat(this.y, 0, ",");
                const percentage = Highcharts.numberFormat(this.percentage, 1);
                return `<b>${name}</b><br>${count}人(${percentage}%)`;
            },
            style: {
                fontFamily,
            },
        },
        legend: {
            borderWidth: 0,
            layout: "vertical",
            itemMarginTop: 5,
            symbolPadding: 3,
            symbolWidth: 12,
            itemStyle: {
                fontFamily,
                fontWeight: "500",
            },
            y: 20,
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                borderColor: "#efefef",
                borderWidth: 2,
                cursor: "pointer",
                dataLabels: {
                    enabled: false,
                },
                shadow: false,
                showInLegend: true,
                size: 130,
            },
        },
        series: [
            {
                type: "pie",
                name: null,
            },
        ],
    };

    export default {
        props: {
            title: {
                type: String,
                required: true,
            },
            series: {
                type: Array,
                required: true,
            },
        },
        data() {
            return {
                chart: null,
            };
        },
        watch: {
            title(value) {
                this.chart.setTitle(value);
            },
            series(value) {
                this.chart.series[0].setData(value);
            },
        },
        methods: {
            init() {
                const options = Object.assign({}, defaultOptions);
                options.chart.renderTo = this.$el;
                options.title.text = this.title;
                options.series[0].data = this.series;
                this.chart = new Highcharts.Chart(options);
            },
        },
        ready() {
            this.init();
        },
    };

</script>
