<template>

    <field title="课程评论">
        <paginator
            :pagination="pagination"
            :load-page="getComment">
            <ul class="list">
                <li v-for="comment in commentList"
                    class="list-item clearfix">
                    <img
                        :src="comment.student.avatar"
                        class="avatar">
                    <div class="detail">
                        <p>
                            <span class="name">
                                {{ comment.student.name }}
                            </span>
                            <span class="time">
                                {{ comment.time }}
                            </span>
                            <span class="score-list">
                                (
                                <template
                                    v-for="key in keys">
                                    <span
                                        :style="{ color: colors[$index] }">
                                        {{ scoreMap[$index][comment.score[key]] }}
                                    </span>
                                    <template
                                        v-if="$index < (keys.length - 1)">
                                        /
                                    </template>
                                </template>
                                )
                            </span>
                        </p>
                        <p>
                            {{ comment.content }}
                        </p>
                    </div>
                </li>
            </ul>
            <p v-if="commentList.length === 0"
                class="hint">
                什么都没有...
                <br>
                还没有人评论过&gt;..&lt;
            </p>
        </paginator>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import Paginator from "module/pc/Paginator";

    import Promise from "promise";

    export default {
        components: {
            Field,
            Paginator,
        },
        props: {
            pagination: {
                type: Object,
                default() {
                    return {
                        page: 1,
                        numPages: 0,
                    };
                },
            },
            commentList: {
                type: Array,
                default() {
                    return [];
                },
            },
            getComment: {
                type: Function,
                default: () => Promise.resolve(),
            },
        },
        data() {
            return {
                keys: [ "attendance", "quality" /* , "score" */ ],
                colors: [ "#ff7200", "#007ac5", "#2f792a" ],
                scoreMap: [
                    {
                        good: "毫无压力",
                        medium: "偶尔点点",
                        bad: "逢课必点",
                    },
                    {
                        good: "引人入胜",
                        medium: "中规中矩",
                        bad: "照本宣科",
                    },
                    {
                        good: "宅心仁厚",
                        medium: "给分科学",
                        bad: "严格负责",
                    },
                ],
            };
        },
    };

</script>

<style scoped>

    .list-item {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #b7b7b7;
    }

    .avatar {
        float: left;
        width: 50px;
        height: 50px;
        border: 1px solid gray;
    }

    .detail {
        margin-left: 60px;
        font-size: 12px;
        line-height: 1.7;
    }

    .name {
        width: 10em;
        margin-right: 1em;
    }

    .time {
        width: 170px;
    }

    .score-list {
        white-space: nowrap;
    }

    .hint {
        font-size: 14px;
        line-height: 2;
        text-align: center;
    }

</style>
