<template>

    <field
        title="筛选">
        <multi-choices
            v-for="item in filterItems"
            :dataset="item"
            :model.sync="filter[item.value]">
        </multi-choices>
        <hr>
        <a @click="updateFilter(filter)"
            class="btn-filter">
            开始筛选
        </a>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import MultiChoices from "module/pc/MultiChoices";

    export default {
        components: {
            Field,
            MultiChoices,
        },
        props: {
            currentFilter: {
                type: Object,
                default: () => {},
            },
            updateFilter: {
                type: Function,
                default() {},
            },
        },
        data() {
            return {
                filter: {},
                filterItems: [
                    {
                        value: "weekday",
                        label: "按时间>>",
                        choices: [
                            { value: 1, text: "周一" },
                            { value: 2, text: "周二" },
                            { value: 3, text: "周三" },
                            { value: 4, text: "周四" },
                            { value: 5, text: "周五" },
                            { value: 6, text: "周六" },
                            { value: 7, text: "周日" },
                        ],
                    },
                    {
                        value: "department",
                        label: "按地点>>",
                        choices: [
                            { value: 1, text: "文理学部" },
                            { value: 2, text: "工学部" },
                            { value: 3, text: "信息学部" },
                            { value: 4, text: "医学部" },
                        ],
                    },
                    {
                        value: "field",
                        label: "按领域>>",
                        choices: [
                            "自然与工程类",
                            "研究与领导类",
                            "艺术与欣赏类",
                            "人文与社会类",
                            "数学与推理类",
                            "中国与全球类",
                            "交流与写作类",
                        ],
                    },
                    {
                        value: "credit",
                        label: "按学分>>",
                        choices: [ 1, 2, 3 ],
                    },
                ],
            };
        },
        watch: {
            currentFilter(value) {
                const filtered = {};
                Object.keys(value)
                    .filter(key => (value[key] !== null))
                    .forEach(key => (filtered[key] = value[key]));
                this.filter = filtered;
            },
        },
    };

</script>

<style scoped>

    .btn-filter,
    .btn-filter:hover {
        width: 83px;
        height: 30px;
        margin: 0 auto;
        margin-bottom: 15px;
        color: #eee;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 1px;
        text-align: center;
        background-color: #ff5d00;
        border-radius: 6px;
        display: block;
    }

</style>
