<template>

    <paginator
        :pagination="pagination"
        :load-page="loadCourses">
        <table class="course-table">
            <thead>
                <tr>
                    <th>课程名称</th>
                    <th>剩余/<br>最大人数</th>
                    <th>教师</th>
                    <th>星期</th>
                    <th>上课时间</th>
                    <th>地点</th>
                    <th>学分</th>
                    <th>所属领域</th>
                    <th>选课</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="course in list">
                    <td class="name">
                        <a v-link="{ path: course.path }">
                            {{ course.name }}
                        </a>
                    </td>
                    <td class="people">
                        {{ course.left }}/{{ course.total }}
                    </td>
                    <td class="teacher">
                        {{ course.teacher }}
                    </td>
                    <td class="weekday">
                        {{ course.weekday }}
                    </td>
                    <td class="time">
                        {{ course.time }}
                    </td>
                    <td class="location">
                        {{ course.location }}
                    </td>
                    <td class="credit">
                        {{ course.credit }}
                    </td>
                    <td class="field">
                        {{ course.field }}
                    </td>
                    <td class="">
                        <button
                            @click="saveSelectingWrapper(course)"
                            class="btn btn-select">
                            选课
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p v-if="!isLoading && (list.length === 0)"
            class="hint">
            没有找到符合要求的课程呢(；′⌒`)
        </p>
        <loading
            v-ref:loading>
        </loading>
        <popup
            v-ref:popup
            class="popup">
            <h3 class="title">
                正在提交
            </h3>
            <div class="content">
                <p>
                    淘课啦正在帮你提交到教务系统，请稍等几秒
                </p>
            </div>
        </popup>
        <popup
            v-ref:popup-collected
            class="popup">
            <h3 class="title">
                提交失败
            </h3>
            <div class="content">
                <p>
                    {{
                        collectedMessage ||
                        "教务系统好像出问题了，暂时无法选课~"
                    }}
                </p>
                <p>
                    这门课我们已经放到你的
                    <a v-link="{ path: '/student/collected' }"
                        class="emphasis">
                        我收藏的选修课
                    </a>
                    页面里了，请稍后重试
                </p>
            </div>
        </popup>
    </paginator>

</template>

<script>

    import Popup from "module/pc/Popup";
    import Loading from "module/pc/Loading";
    import Paginator from "module/pc/Paginator";

    import { code } from "config";

    import Promise from "promise";

    export default {
        components: {
            Popup,
            Loading,
            Paginator,
        },
        props: {
            pagination: {
                type: Object,
                default() {
                    return {
                        page: 1,
                        numPages: 0,
                    };
                },
            },
            courseList: {
                type: Array,
                default() {
                    return [];
                },
            },
            isLoading: {
                type: Boolean,
                default: false,
            },
            loadCourses: {
                type: Function,
                default: () => {},
            },
            saveCollected: {
                type: Function,
                default: () => Promise.reject(),
            },
            saveSelecting: {
                type: Function,
                default: () => Promise.reject(),
            },
            showPopup: {
                type: Function,
                default: () => {},
            },
        },
        data() {
            return {
                collectedMessage: null,
                weekdayMap: [
                    "", "一", "二", "三", "四", "五", "六", "日",
                ],
            };
        },
        computed: {
            list() {
                return (
                    this.isLoading ?
                    [] :
                    this.courseList.map(
                        course => Object.assign(
                            {},
                            course,
                            {
                                path: `/course/public/elective/${course.number}`,
                                weekday: this.formatWeekday(course),
                                time: this.formatTime(course),
                                location: this.formatLocation(course),
                            }
                        )
                    )
                );
            },
        },
        watch: {
            isLoading(value) {
                if (value) {
                    this.$refs.loading.startLoading({
                        contents: [ "努力加载中，客官稍等片刻~" ],
                    });
                }
                else {
                    this.$refs.loading.endLoading();
                }
            },
        },
        methods: {
            isValid(...values) {
                return values.every(value => {
                    const type = typeof value;
                    return (
                        (
                            (type === "string") && !!value.length
                        ) ||
                        (type === "number")
                    );
                });
            },
            formatWeekday({ weekday }) {
                return (
                    this.isValid(weekday) ?
                    `周${this.weekdayMap[weekday]}` :
                    "未知"
                );
            },
            formatTime(course) {
                const {
                    weekFrom,
                    weekTo,
                    weekday,
                    classBegin,
                    classOver,
                } = course;

                const items = [];
                if (this.isValid(weekFrom, weekTo)) {
                    items.push(`${weekFrom}-${weekTo}周`);
                }
                if (this.isValid(weekday)) {
                    items.push(`周${this.weekdayMap[weekday]}`);
                }
                if (this.isValid(classBegin, classOver)) {
                    items.push(`${classBegin}-${classOver}节`);
                }

                return (!!items.length ? items.join("，") : "未知");
            },
            formatLocation({ location }) {
                return (
                    this.isValid(location) ?
                    location :
                    "未知"
                );
            },
            showSelectingPopup(promise) {
                this.$refs.popup.show({
                    still: true,
                });
                if (!!promise.then) {
                    promise.then(
                        this.hideSelectingPopup,
                        this.hideSelectingPopup
                    );
                }
            },
            hideSelectingPopup() {
                this.$refs.popup.hide(true);
            },
            showCollectedPopup(message) {
                this.collectedMessage = message;
                this.$refs.popupCollected.show();
            },
            saveSelectingWrapper(course) {
                return this.showSelectingPopup(
                    this.saveSelecting(course)
                        .then(() => {
                            this.showPopup({
                                alert: true,
                                duration: 2000,
                                contents: "这门课我们已经放到你的选课列表里了哦~",
                            });
                            return Promise.resolve();
                        })
                        .catch(error => {
                            const pub = code.publicElective;
                            const _code = pub.COLLECTED_AFTER_SAVE_SELECTING_FAILED;

                            if (error && error.status) {
                                const { code, message } = error.status;
                                if (code === _code) {
                                    this.showCollectedPopup(message);
                                }
                            }

                            throw error;
                        })
                );
            },
        },
    };

</script>

<style scoped>

    .course-table {
        width: 100%;
        text-align: center;
        font-size: 12px;
        background-color: #f7f4f4;
        color: #222;
        border: 1px solid #e1b993;
    }

    .course-table > thead > tr {
        height: 39px;
        border-top: 0;
        background-color: #e1b993;
    }

    .course-table > thead th {
        color: #fff;
        font-weight: 500;
        border-left: 1px solid #f1d3b6;
    }

    .course-table tbody tr {
        border-top: 1px solid #deb893;
    }

    .course-table tbody tr:first-child {
        border: 0;
    }

    .course-table tbody tr:hover {
        background-color: #f4f0f0;
    }

    .course-table td {
        height: 39px;
        padding: 0 5px;
        border-left: 1px solid #deb893;
        box-sizing: border-box;
    }

    .course-table td:first-child {
        border-left: 0;
    }

    .course-table tbody td.name {
        max-width: 134px;
    }

    .course-table tbody td.people {
        min-width: 50px;
    }

    .course-table tbody td.teacher {
        min-width: 48px;
    }

    .course-table tbody td.weekday {
        min-width: 36px;
    }

    .course-table tbody td.time {
        min-width: 157px;
    }

    .course-table tbody td.field {
        min-width: 90px;
        max-width: 100px;
    }

    .course-table .btn-select {
        width: 56px;
        color: #fff;
        font-size: 12px;
        line-height: 22px;
        background-color: #b89a82;
        border-radius: 5px;
    }

    .loading,
    .hint {
        background: #f7f4f4;
        text-align: center;
        line-height: 45px;
    }

    .popup .title {
        margin: 0;
        margin-bottom: 1em;
        font-size: 18px;
        font-weight: 500;
    }

    .popup .content {
        margin: 0 5px;
        line-height: 1.6;
    }

    .popup .emphasis {
        font-weight: 700;
        opacity: 1;
    }

</style>
