<template>

    <field title="筛选">
        <a @click="select"
            slot="sub"
            class="reset">
            重置
        </a>
        <ul class="list">
            <li v-for="item in department"
                class="list-item">
                <div
                    @click="toggle($index)"
                    class="list-item-title">
                    <p>{{ item.department }}</p>
                    <span class="arrow">
                    </span>
                </div>
                <ul v-show="!!state[$index]"
                    class="list-sub">
                    <li v-for="academy in item.academies">
                        <a @click="(
                                (selected !== academy) &&
                                select(academy)
                            )"
                            :class="[
                                (selected === academy) ?
                                'selected' :
                                ''
                            ]"
                            :disabled="selected === academy"
                            class="academy">
                            {{ academy }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </field>

</template>

<script>

    import Field from "module/pc/Field";

    import Promise from "promise";

    export default {
        components: {
            Field,
        },
        props: {
            department: {
                type: Array,
                default() {
                    return [];
                },
            },
            updateFilter: {
                type: Function,
                default() {
                    return () => Promise.resolve();
                },
            },
            params: {
                default() {
                    return {};
                },
            },
        },
        data() {
            return {
                state: [],
            };
        },
        computed: {
            selected() {
                return this.params.academy;
            },
        },
        methods: {
            toggle(index) {
                this.state.$set(index, !this.state[index]);
            },
            select(academy) {
                this.updateFilter({ academy });
            },
        },
    };

</script>

<style scoped>

    .field {
        font-size: 16px;
    }

    .reset,
    .reset:hover {
        float: right;
        margin-right: 7px;
        color: #30aeff;
    }

    .list {
        letter-spacing: 3px;
    }

    .list-item-title {
        color: rgb(108, 108, 108);
        font-size: 14px;
        line-height: 25px;
        position: relative;
        cursor: pointer;
    }

    .list-sub {
        margin-top: 5px;
    }

    .arrow {
        right: 0;
        bottom: 7px;
        width: 20px;
        height: 10px;
        background: url(../../../image/pc/arrow.png) scroll no-repeat;
        position: absolute;
    }

    .academy {
        margin-bottom: 5px;
        color: rgb(108, 108, 108);
        font-size: 12px;
        line-height: 1.6;
    }

    .academy.selected,
    .academy:hover {
        color: rgb(255, 93, 0);
    }

</style>
