<template>

    <div class="selected-credit">
        <h2 class="title">已选公选学分</h2>
        <ul class="credit-list">
            <li
                v-for="item in list"
                :class="[ !!state[$index] ? 'expanded' : '' ]"
                class="list-item">
                <a @click="toggle($index)"
                    :disabled="!item.credit"
                    class="list-item-title clearfix">
                    <p class="field float-left">
                        {{ item.field }}
                        <span
                            v-if="!!item.credit"
                            class="grid-student triangle">
                        </span>
                    </p>
                    <p class="credit-total float-right">
                        {{ item.credit }}
                    </p>
                </a>
                <div
                    v-show="!!state[$index]"
                    class="list-sub">
                    <ul>
                        <li v-for="subItem in item.courses"
                            class="list-sub-item">
                            <a v-link="{ path: subItem.path }"
                                class="course-name">
                                {{ subItem.name }}
                            </a>
                            <p class="credit-detail">
                                {{ subItem.credit }}
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</template>

<script>

    export default {
        props: {
            selectedCredit: {
                type: Array,
                default() {
                    return [];
                },
            },
        },
        data() {
            return {
                state: [],
            };
        },
        computed: {
            list() {
                return this.selectedCredit.map(
                    item => Object.assign(
                        {},
                        item,
                        {
                            courses: item.courses.map(
                                subItem => Object.assign(
                                    {},
                                    subItem,
                                    { path: `/course/public/elective/${subItem.number}?comment=true` }
                                )
                            ),
                        }
                    )
                );
            },
        },
        methods: {
            toggle(index) {
                if (!this.selectedCredit[index].credit) {
                    return;
                }

                this.state.$set(index, !this.state[index]);
            },
        },
    };

</script>

<style scoped>

    .selected-credit {
        margin-top: 20px;
    }

    .title {
        margin: 0;
        padding-bottom: 3px;
        color: #222;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        text-shadow: 1px 1px #fff;
        border-bottom: 1px solid #a1a1a1;
    }

    .list-item {
        margin: 2px 0;
        padding-left: 10px;
        padding-right: 3px;
        color: #535353;
        font-size: 12px;
    }

    .list-item:not(:first-child) {
        border-top: 1px dashed #d1d1d1;
    }

    .list-item.expanded {
        background: #ecdede;
    }

    .list-item-title {
        opacity: 1;
        line-height: 2;
        display: block;
    }

    .list-item.expanded .list-item-title {
        color: #fa9547;
    }

    .list-item.expanded .triangle {
        transform: translateY(-2px) rotate(180deg);
    }

    .list-sub-item {
        padding-right: 20px;
        color: #8a6655;
        line-height: 2;
        position: relative;
    }

    .credit-total {
        color: #d87f38;
    }

    .course-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .credit-detail {
        right: 0;
        top: 0;
        bottom: 0;
        width: 20px;
        text-align: right;
        position: absolute;
    }

</style>
