<template>

    <p :style="style"
        class="course-field">
        {{ field }}
    </p>

</template>

<script>

    export default {
        props: {
            field: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                fieldColor: {
                    自然与工程类: "#4db850",
                    数学与推理类: "#7cafcd",
                    艺术与欣赏类: "#b68fa7",
                    中国与全球类: "#d77474",
                    人文与社会类: "#d5bb44",
                    研究与领导类: "#6f82c1",
                    交流与写作类: "#e07b45",
                },
            };
        },
        computed: {
            style() {
                return {
                    color: this.fieldColor[this.field] || this.fieldColor["自然与工程类"],
                };
            },
        },
    };

</script>

<style scoped>

    .course-field {
        width: 96px;
        color: #4db850;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        box-sizing: border-box;
    }

</style>
