<template>

    <ul class="course-operation clearfix">
        <li class="list-item">
            <button
                @click="toggleCollected"
                class="btn bg-orange">
                <span
                    v-if="!course.hasCollected"
                    class="grid-detail icon-heart">
                </span>
                {{ !!course.hasCollected ? "取消" : "" }}收藏
            </button>
        </li>
        <li class="list-item">
            <button
                @click="saveSelectingWrapper"
                class="btn bg-blue">
                <span class="grid-detail icon-add">
                </span>
                选课
            </button>
        </li>
        <li class="list-item">
            <button
                v-if="canPopup"
                @click="showCommentPopup"
                class="btn bg-green">
                <span class="grid-detail icon-comment">
                </span>
                点评
            </button>
        </li>
        <popup
            v-ref:popup-selecting
            class="popup">
            <h3 class="title">
                正在提交
            </h3>
            <div class="content">
                <p>
                    淘课啦正在帮你提交到教务系统，请稍等几秒
                </p>
            </div>
        </popup>
        <popup
            v-ref:popup-collected
            class="popup">
            <h3 class="title">
                提交失败
            </h3>
            <div class="content">
                <p>
                    {{
                        collectedMessage ||
                        "教务系统好像出问题了，暂时无法选课~"
                    }}
                </p>
                <p>
                    这门课我们已经放到你的
                    <a v-link="{ path: '/student/collected' }"
                        class="emphasis">
                        我收藏的选修课
                    </a>
                    页面里了，请稍后重试
                </p>
            </div>
        </popup>
        <popup
            v-ref:popup
            :class="[ !course.canComment ? 'disabled' : '' ]"
            class="popup">
            <h3 class="title">
                添加评论
                <span class="hint">
                    *本门课得分 ：
                    <span class="score">
                        {{ scoreHint }}
                    </span>
                </span>
            </h3>
            <ul class="form-row">
                <li v-for="key in keys"
                    class="form-row">
                    <p class="form-label">
                        {{ titles[$index] }}
                    </p>
                    <div class="form-control">
                        <label
                            v-for="legend in legends[$index]"
                            class="label-input">
                            <input
                                v-model="form.score[key]"
                                type="radio"
                                :disabled="!course.canComment"
                                :value="values[$index]">
                            <span>
                                {{ legend }}
                            </span>
                        </label>
                    </div>
                </li>
            </ul>
            <div class="form-row">
                <p class="form-title">
                    名称
                </p>
                <input
                    v-model="form.name"
                    type="text"
                    :disabled="!course.canComment"
                    :placeholder="profile.name">
            </div>
            <div class="form-row">
                <p class="form-title">
                    短评
                </p>
                <textarea
                    v-model="form.comment"
                    :disabled="!course.canComment"
                    placeholder="考核方式、作业布置情况等等~还有你和老师不得不说的故事哦~">
                </textarea>
            </div>
            <div class="form-operation">
                <span
                    v-if="hasMessage"
                    transition="fade"
                    class="hint">
                    {{ message || "失败了呢：（" }}
                </span>
                <button
                    @click="submitComment"
                    :disabled="!course.canComment"
                    :title="scoreHint"
                    class="btn bg-green">
                    {{ btnText }}
                </button>
            </div>
        </popup>
    </ul>

</template>

<script>

    import Popup from "module/pc/Popup";

    import { code } from "config";

    import Promise from "promise";

    export default {
        components: {
            Popup,
        },
        props: {
            course: {
                type: Object,
                default: {},
            },
            profile: {
                type: Object,
                default: {},
            },
            saveCollected: {
                type: Function,
                default: () => Promise.reject,
            },
            deleteCollected: {
                type: Function,
                default: () => Promise.reject,
            },
            saveSelecting: {
                type: Function,
                default: () => Promise.reject,
            },
            deleteUncomment: {
                type: Function,
                default: () => Promise.reject,
            },
            showPopup: {
                type: Function,
                default: () => {},
            },
            showComment: {
                default: null,
            },
        },
        data() {
            return {
                form: {
                    name: null,
                    comment: "",
                    score: {},
                },
                keys: [ "attendance", "quality" /* , "score" */ ],
                titles: [ "考勤力度", "授课质量", "给分情况" ],
                values: [ "good", "medium", "bad" ],
                legends: [
                    [ "毫无压力", "偶尔点点", "逢课必点" ],
                    [ "引人入胜", "中规中矩", "照本宣科" ],
                    [ "宅心仁厚", "给分科学", "严格负责" ],
                ],
                collectedMessage: null,
                isWaiting: false,
                message: null,
                hasMessage: false,
            };
        },
        computed: {
            hasScore() {
                const { hasSelected, score } = this.course;
                return !!(hasSelected && !window.isNaN(score) && (Number(score) > 0));
            },
            scoreHint() {
                const { score, hasSelected } = this.course;
                if (this.hasScore) {
                    return score;
                }
                else if (!hasSelected) {
                    return "你没有选过这门课，不能进行评价哦~";
                }
                else if (!this.hasScore) {
                    return "你的这门课还没出分，暂时不能进行评价哦~";
                }
                return "";
            },
            canPopup() {
                const { hasCommented } = this.course;
                return !hasCommented;
            },
            btnText() {
                return (this.isWaiting ? "正在提交..." : "提交");
            },
        },
        methods: {
            toggleCollected() {
                if (!this.course.hasCollected) {
                    this.saveCollected(this.course);
                }
                else {
                    this.deleteCollected(this.course);
                }
            },
            showCommentPopup() {
                if (!this.canPopup) {
                    return;
                }

                this.clearMessage();
                this.$refs.popup.show();
            },
            hideCommentPopup() {
                this.$refs.popup.hide();
            },
            showMessage(message) {
                this.message = message;
                this.hasMessage = true;
            },
            clearMessage() {
                this.message = null;
                this.hasMessage = false;
            },
            resetForm() {
                Object.assign(this.form, {
                    comment: "",
                    score: {},
                });
            },
            startWaiting(promise) {
                if (!promise.then) {
                    return Promise.reject();
                }

                this.isWaiting = true;
                return promise.then(this.endWaiting)
                    .catch(() => {
                        this.showMessage();
                        this.endWaiting();
                        return Promise.reject();
                    });
            },
            endWaiting() {
                this.isWaiting = false;
            },
            validateForm() {
                const { canComment } = this.course;
                if (!canComment) {
                    this.showMessage("这门课暂时不能评价哦~");
                    return false;
                }

                const { score } = this.form;
                return this.keys.every((key, index) => {
                    if (!score[key]) {
                        this.showMessage(
                            `${this.titles[index]}还没评价呢:(`
                        );
                        return false;
                    }
                    if (!this.values.includes(score[key])) {
                        this.showMessage(
                            `${this.titles[index]}评分出现问题`
                        );
                        return false;
                    }
                    return true;
                });
            },
            submitComment() {
                this.isWaiting = false;
                this.clearMessage();

                if (!this.validateForm()) {
                    return;
                }

                this.startWaiting(
                        this.deleteUncomment(
                            this.course,
                            this.form
                        )
                    )
                    .then(() => {
                        this.showMessage("评价成功了哦~");
                        window.setTimeout(() => {
                            this.resetForm();
                            this.hideCommentPopup();
                        }, 500);
                    });
            },
            showCollectedPopup(message) {
                this.collectedMessage = message;
                this.$refs.popupCollected.show();
            },
            showSelectingPopup(promise) {
                this.$refs.popupSelecting.show({
                    still: true,
                });
                if (!!promise.then) {
                    promise.then(
                        this.hideSelectingPopup,
                        this.hideSelectingPopup
                    );
                }
            },
            hideSelectingPopup() {
                this.$refs.popupSelecting.hide(true);
            },
            saveSelectingWrapper() {
                return this.showSelectingPopup(
                    this.saveSelecting(this.course)
                        .then(() => {
                            this.showPopup({
                                alert: true,
                                duration: 2000,
                                contents: "这门课我们已经放到你的选课列表里了哦~",
                            });
                            return Promise.resolve();
                        })
                        .catch(error => {
                            const pub = code.publicElective;
                            const _code = pub.COLLECTED_AFTER_SAVE_SELECTING_FAILED;

                            if (error && error.status) {
                                const { code, message } = error.status;
                                if (code === _code) {
                                    this.showCollectedPopup(message);
                                }
                            }

                            throw error;
                        })
                );
            },
        },
        ready() {
            this.showComment = this.showCommentPopup;
        },
    };

</script>

<style scoped>

    .course-operation {
        margin-top: 29px;
        font-size: 14px;
    }

    .list-item {
        float: left;
        width: 33.33%;
        text-align: center;
    }

    .btn {
        min-width: 0;
        padding: 2px 10px;
        padding-left: 13px;
    }

    .icon-heart,
    .icon-add,
    .icon-comment {
        float: left;
        margin-right: .5em;
        margin-top: -1px;
        transform: translateY(50%);
    }

    .popup .title {
        margin: 0;
        margin-bottom: 1em;
        font-size: 18px;
        font-weight: 500;
    }

    .popup .content {
        margin: 0 5px;
        line-height: 1.6;
    }

    .popup .emphasis {
        font-weight: 700;
        opacity: 1;
    }

    .hint {
        margin-left: 1.8em;
        color: #c8c8c8;
        font-size: 12px;
        line-height: 18px;
        vertical-align: middle;
    }

    .score {
        color: #585555;
    }

    .form {
        font-size: 15px;
        line-height: 2;
    }

    .form-row {
        margin-top: 10px;
    }

    .form-inline {
        margin-right: 0.75em;
        letter-spacing: .1em;
    }

    .label-input {
        margin-right: 10px;
        cursor: pointer;
        user-select: none;
    }

    .label-input:active {
        opacity: .8;
    }

    .form-label {
        float: left;
        width: 100px;
        color: #888;
        letter-spacing: .2em;
    }

    .form-control {
        margin-left: 100px;
    }

    .form-title {
        line-height: 2.5;
        letter-spacing: 1px;
    }

    .form-operation {
        margin-top: 15px;
        font-size: 15px;
        text-align: right;
    }

    .form-operation .hint {
        font-size: inherit;
        margin-right: 1.5em;
        color: #909090;
        vertical-align: baseline;
    }

</style>
