<template>

    <div>
        <field title="谁在上这门课">
            <paginator
                text-prev="<"
                text-next=">"
                :display-nums="3"
                :show-first="false"
                :show-last="false"
                :pagination="pagination"
                :load-page="getStudent">
                <ul class="list">
                    <li v-for="student in studentList"
                        :title="student.name"
                        class="list-item">
                        <img
                            :src="student.avatar"
                            class="avatar">
                        <p class="name">
                            {{ student.name }}
                        </p>
                    </li>
                </ul>
                <p v-if="studentList.length === 0"
                    class="hint">
                    什么都没有...
                    <br>
                    没有找到上过这门课的人&gt;..&lt;
                </p>
            </paginator>
        </field>
    </div>

</template>

<script>

    import Field from "module/pc/Field";
    import Paginator from "module/pc/Paginator";

    import Promise from "promise";

    export default {
        components: {
            Field,
            Paginator,
        },
        props: {
            pagination: {
                type: Object,
                default() {
                    return {
                        page: 1,
                        numPages: 0,
                    };
                },
            },
            studentList: {
                type: Array,
                default() {
                    return [];
                },
            },
            getStudent: {
                type: Function,
                default: () => Promise.resolve(),
            },
        },
    };

</script>

<style scoped>

    .list {
        margin: -5px;
        overflow: hidden;
    }

    .list-item {
        float: left;
        margin: 0 5px;
        margin-bottom: 8px;
    }

    .avatar {
        width: 45px;
        height: 45px;
    }

    .name {
        max-width: 45px;
        min-height: 17px;
        color: #989898;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .hint {
        font-size: 14px;
        line-height: 2;
        text-align: center;
    }

</style>
