<template>

    <div>
        <field title="课程简介">
            <truncate-text
                :text="course.summary || '暂无介绍'"
                :limit="200"
                class="summary">
            </truncate-text>
        </field>
    </div>

</template>

<script>

    import Field from "module/pc/Field";
    import TruncateText from "module/common/TruncateText";

    export default {
        components: {
            Field,
            TruncateText,
        },
        props: {
            course: {
                type: Object,
                default() {
                    return {};
                },
            },
        },
    };

</script>

<style scoped>

    .summary {
        margin: 8px;
        color: #4a4a4a;
        font-size: 13px;
        line-height: 20px;
    }

</style>
