<template>

    <div class="course-info clearfix">
        <ul class="float-left list">
            <li v-for="(key, label) in labels"
                class="list-item clearfix">
                <p class="label">
                    {{ label }}：
                </p>
                <p class="value">
                    {{ info[key] }}
                </p>
            </li>
            <li v-if="hasOtherCourses"
                class="list-item clearfix">
                <p class="label"></p>
                <a @click="showPopup"
                    class="value">
                    点击此处显示其他课程时间
                </a>
                <popup
                    v-ref:popup
                    class="popup">
                    <h3>课程时间</h3>
                    <div class="content">
                        <ul class="list">
                            <li class="list-item clearfix">
                                <p class="label">
                                    课程：
                                </p>
                                <p class="value">
                                    {{ course.name }}
                                </p>
                            </li>
                            <li class="list-item clearfix">
                                <p class="label">
                                    时间：
                                </p>
                                <ul class="value">
                                    <li v-for="course in otherCoursesTime">
                                        <a v-link="{ path: course.path }"
                                            @click="hidePopup"
                                            class="list-item-link">
                                            {{ course.time }}
                                        </a>
                                    </li>
                                    <li>
                                        <p>点击时间查看该时间课程详情</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </popup>
            </li>
        </ul>
        <div class="line-list">
            <div v-for="i in lineLen"
                class="line">
            </div>
        </div>
    </div>

</template>

<script>

    import Popup from "module/pc/Popup";

    export default {
        components: {
            Popup,
        },
        props: {
            course: {
                type: Object,
                default: {},
            },
        },
        computed: {
            info() {
                return Object.assign({}, this.course, {
                    timeLocation: this.formatTimeLocation(this.course),
                });
            },
            otherCoursesTime() {
                return (this.course.otherCourses || []).map(course => ({
                    time: this.formatTimeLocation(course),
                    path: `/course/public/elective/${course.number}`,
                }));
            },
            hasOtherCourses() {
                return (this.otherCoursesTime.length > 0);
            },
        },
        data() {
            return {
                labels: {
                    number: "课头号",
                    teacher: "教师名",
                    credit: "学分",
                    field: "领域",
                    timeLocation: "上课时间地点",
                },
                weekdayMap: [
                    "", "一", "二", "三", "四", "五", "六", "日",
                ],
                lineLen: 8,
            };
        },
        methods: {
            isValid(...values) {
                return values.every(value => {
                    const type = typeof value;
                    return (
                        (
                            (type === "string") && !!value.length
                        ) ||
                        (type === "number")
                    );
                });
            },
            formatTime(course) {
                const {
                    weekFrom,
                    weekTo,
                    weekday,
                    classBegin,
                    classOver,
                } = course;

                const items = [];
                if (this.isValid(weekFrom, weekTo)) {
                    items.push(`${weekFrom}-${weekTo}周`);
                }
                if (this.isValid(weekday)) {
                    items.push(`周${this.weekdayMap[weekday]}`);
                }
                if (this.isValid(classBegin, classOver)) {
                    items.push(`${classBegin}-${classOver}节`);
                }

                return items.join("，");
            },
            formatTimeLocation(course) {
                const time = this.formatTime(course);
                const { location } = course;
                const items = [];
                if (this.isValid(time)) {
                    items.push(time);
                }
                if (this.isValid(location)) {
                    items.push(location);
                }
                return (!!items.length ? items.join("，") : "未知");
            },
            showPopup() {
                this.$refs.popup.show();
            },
            hidePopup() {
                this.$refs.popup.hide();
            },
        },
    };

</script>

<style scoped>

    .course-info {
        padding: 0 25px;
        padding-top: 10px;
        padding-bottom: 30px;
        background-color: #363839;
        color: white;
        font-size: 14px;
        line-height: 30px;
        box-sizing: border-box;
    }

    .list-item {
        padding: 0 0.5em;
    }

    .label {
        float: left;
        width: 110px;
        min-height: 1px;
    }

    .value {
        float: left;
        width: 180px;
    }

    .line {
        bottom: 3px;
        width: 100%;
        margin-top: 29px;
        border-bottom: 1px dashed #686868;
        position: relative;
    }

    .popup h3 {
        margin: .2em 0;
        font-size: 16px;
    }

    .popup .content {
        min-width: 400px;
    }

    .popup .label {
        width: 45px;
    }

    .popup .value {
        width: initial;
    }

    .popup .list-item-link {
        color: #006ecc;
    }

</style>
