<template>

    <div class="field">
        <div class="field-title">
            <h2>
                {{ title }}
                <slot name="title">
                </slot>
            </h2>
            <span>{{ sub }}</span>
            <slot name="sub">
            </slot>
        </div>
        <div class="field-body">
            <slot></slot>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            title: {
                type: String,
            },
            sub: {
                type: String,
            },
        },
    };

</script>

<style scoped>

    .field {
        margin-bottom: 10px;
    }

    .field-title {
        margin-bottom: 0.7em;
        border-bottom: 2px solid #d5d5d5;
    }

    .field-title > h2 {
        margin: 0;
        margin-bottom: -2px;
        color: #202020;
        font-weight: 500;
        font-size: inherit;
        text-shadow: 1px 1px 1px #fff;
        border-bottom: 2px solid #fd7100;
        display: inline-block;
    }

    .field-title > span {
        margin-left: 2.2em;
        font-size: 12px;
        color: #767676;
    }

</style>
