<template>

    <slot
        v-if="isLoading"
        name="loading">
        <div class="loading">
            <img src="../../../image/pc/waiting.png">
            <p v-for="content in contents"
                class="loading-text">
                {{ content }}
            </p>
        </div>
    </slot>
    <slot v-else>
    </slot>

</template>

<script>

    import Promise from "promise";

    export default {
        data() {
            return {
                isLoading: false,
                contents: [],
            };
        },
        methods: {
            startLoading({ contents = [], promise }) {
                this.contents = contents;
                this.isLoading = true;
                if (promise && promise.then) {
                    return promise.then(
                        this.endLoading,
                        this.endLoading
                    );
                }
                return Promise.resolve();
            },
            endLoading() {
                this.isLoading = false;
                return Promise.resolve();
            },
        },
    };

</script>

<style scoped>

    .loading {
        margin: 100px 0;
        text-align: center;
    }

    .loading-text {
        margin: 10px 0;
        color: #999;
        font-size: 14px;
    }

</style>
