<template>

    <div class="multi-choices">
        <p class="title">
            {{ dataset.label }}
            <a class="btn-toggle"
                @click="toggleAll">
                {{ hasSelectedAll ? "取消" : "" }}全选
            </a>
        </p>
        <div class="choice-list">
            <a v-for="choice in choices"
                @click="toggle($index)"
                :class="[ !!state[$index] ? 'selected' : '' ]"
                class="choice">
                {{ choice.text }}
            </a>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            dataset: {
                type: Object,
                required: true,
            },
            model: {
                default() {
                    return [];
                },
                sync: true,
            },
        },
        data() {
            return {
                state: [],
            };
        },
        computed: {
            choices() {
                const ret = this.dataset.choices;
                if (ret instanceof Array) {
                    return ret.map(
                        item => ((typeof item === "object") ? item : { text: item, value: item })
                    );
                }
                return ret;
            },
            hasSelectedAll() {
                return (this.model.length === this.choices.length);
            },
        },
        watch: {
            model(list) {
                if (list instanceof Array) {
                    this.state = this.choices.map(({ value }) => list.includes(value));
                }
            },
        },
        methods: {
            toggle(index) {
                const value = this.choices[index].value;
                if (!!this.state[index]) {
                    this.model = this.model.filter(x => x !== value);
                }
                else {
                    this.model.push(value);
                }
                // this.state.$set(index, !this.state[index]);
            },
            toggleAll() {
                const value = !this.hasSelectedAll;
                for (let i = 0; i < this.choices.length; i++) {
                    if (!this.state[i] === value) {
                        this.toggle(i);
                    }
                }
            },
        },
    };

</script>

<style scoped>

    .title {
        color: #222;
        font-size: 14px;
    }

    .btn-toggle,
    .btn-toggle:hover {
        float: right;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 12px;
        color: #eee;
        background-color: #077fff;
    }

    .choice {
        min-width: 30px;
        margin: 3px;
        margin-right: 4px;
        padding: 5px;
        color: #ff5d00;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        background-color: transparent;
        border: 1px solid #ff5d00;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .choice.selected {
        background-color: #ff5d00;
        color: #eee;
    }

    .choice-list {
        margin-top: 7px;
        margin-bottom: 14px;
    }

</style>
