<template>

    <div class="paginator">
        <slot></slot>
        <div class="paginator-control clearfix">
            <template
                v-if="hasPrev">
                <a v-if="showFirst"
                    @click="loadPage(1)"
                    class="control-page">
                    {{ textFirst }}
                </a>
                <a @click="loadPage(page - 1)"
                    class="control-page">
                    {{ textPrev }}
                </a>
            </template>
            <a v-for="i in displayPages"
                @click="(i !== page) && loadPage(i)"
                :class="[ (i === page) ? 'selected' : '' ]"
                :disabled="i === page"
                class="control-page">
                {{ i }}
            </a>
            <template
                v-if="hasNext">
                <a @click="loadPage(page + 1)"
                    class="control-page">
                    {{ textNext }}
                </a>
                <a v-if="showLast"
                    @click="loadPage(numPages)"
                    class="control-page">
                    {{ textLast }}
                </a>
            </template>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            pagination: {
                type: Object,
                default() {
                    return {
                        page: 1,
                        numPages: 0,
                    };
                },
            },
            loadPage: {
                type: Function,
                required: true,
            },
            textPrev: {
                type: String,
                default: "前页",
            },
            textNext: {
                type: String,
                default: "后页",
            },
            textFirst: {
                type: String,
                default: "首页",
            },
            textLast: {
                type: String,
                default: "尾页",
            },
            displayMinNums: {
                type: Number,
                default: 2,
            },
            displayNums: {
                type: Number,
                default: 10,
            },
            showFirst: {
                type: Boolean,
                default: true,
            },
            showLast: {
                type: Boolean,
                default: true,
            },
        },
        computed: {
            page() {
                return this.pagination.page;
            },
            numPages() {
                return this.pagination.numPages;
            },
            hasPrev() {
                return (this.page > 1);
            },
            hasNext() {
                return (
                    (this.page >= 1) &&
                    (this.page < this.numPages)
                );
            },
            displayPages() {
                const page = this.page;
                const numPages = this.numPages;
                if ((typeof page === "number") &&
                    (typeof numPages === "number") &&
                    (numPages >= this.displayMinNums)) {
                    const nums = this.displayNums;
                    const halfLeft = ~~((nums - 1) / 2);
                    const halfRight = nums - halfLeft - 1;

                    let left = page - halfLeft;
                    let right = page + halfRight;
                    if ((left < 1) && (right > numPages)) {
                        left = 1;
                        right = numPages;
                    }
                    else if (left < 1) {
                        right = Math.min(
                            numPages,
                            right - left + 1
                        );
                        left = 1;
                    }
                    else if (right > numPages) {
                        left = Math.max(
                            left - right + numPages,
                            1
                        );
                        right = numPages;
                    }

                    const list = [];
                    for (let i = left; i <= right; i++) {
                        list.push(i);
                    }

                    return list;
                }
                return [];
            },
        },
    };

</script>

<style scoped>

    .paginator {
        font-size: 16px;
    }

    .paginator-control {
        margin-top: 10px;
        text-align: center;
        line-height: 25px;
    }

    .control-page {
        min-width: 25px;
        margin: 0 0.3em;
        text-align: center;
        cursor: pointer;
    }

    .control-page.selected {
        color: #eee;
        background-color: #5a4c40;
        cursor: default;
    }

</style>
