<template>

    <div
        v-show="enable"
        :class="[ enable ? 'fade-show' : 'fade-hide' ]"
        class="popup fade">
        <div
            v-show="enableSub"
            transition="fade"
            class="popup-box">
            <a v-if="!still"
                @click="hide(false)"
                class="popup-close grid-detail icon-close">
            </a>
            <h3 v-if="title"
                class="popup-title">
                {{ title }}
            </h3>
            <div class="popup-content">
                <p v-for="content in contens">
                    {{ content }}
                </p>
                <slot></slot>
            </div>
        </div>
    </div>

</template>

<script>

    export default {
        data() {
            return {
                cb: null,
                enable: false,
                enableSub: false,
                still: false,
                title: null,
                contens: [],
            };
        },
        watch: {
            enable(value) {
                if (value) {
                    window.setTimeout(() => (this.enableSub = true), 10);
                    return;
                }
                this.enableSub = false;
            },
        },
        methods: {
            show(options = {}) {
                this.enable = true;
                this.cb = options.cb;
                this.title = options.title;
                this.contens = options.contents;
                this.still = options.still;
                if (options.duration) {
                    this.still = true;
                    setTimeout(
                        () => this.hide(true),
                        options.duration
                    );
                }
            },
            hide(isCompulsory) {
                if (!this.enable || !isCompulsory && this.still) {
                    return;
                }

                this.enable = false;
                if (this.cb instanceof Function) {
                    this.cb();
                }
            },
        },
    };

</script>

<style scoped>

    .popup {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(221, 221, 221, .3);
        position: fixed;
        z-index: 20;
    }

    .popup-box {
        left: 50%;
        top: 50%;
        max-width: 460px;
        padding: 20px 15px;
        border-radius: 8px;
        border: 1px solid #b8c9c0;
        background-color: #fff;
        box-shadow: 0 0 8px #b7a59b;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .popup-close {
        right: -10px;
        top: -10px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        box-shadow: 0 0 13px #e3cdc0;
        transform: scale(.9);
        position: absolute;
    }

    .popup-close:hover {
        transform: scale(1.1);
    }

    .popup-close:active {
        transform: scale(.9);
    }

    .popup-title {
        margin: 0;
        margin-bottom: .5em;
        font-weight: 600;
        text-align: center;
    }

    .popup-content {
        color: #5c5c5c;
        font-size: 14px;
        line-height: 1.6;
    }

</style>
