<template>

    <field
        title="我推荐的专业课"
        sub="快去推荐吧，好人一生平安"
        class="professional-recommended">
        <ul v-if="recommended.length > 0"
            class="list clearfix">
            <li v-for="course in recommended"
                class="list-item">
                <loading-btn
                    :work="deleteRecommendedWrapper(course)"
                    class="list-item-hover">
                    点击取消推荐课程
                </loading-btn>
                <p>{{ course.name }}</p>
                <p class="course-teacher">
                    {{ course.teacher }}
                </p>
            </li>
        </ul>
        <img
            v-else
            src="../../../image/pc/empty_recommend_hint.png">
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import LoadingBtn from "module/common/LoadingBtn";

    export default {
        components: {
            Field,
            LoadingBtn,
        },
        props: {
            recommended: {
                type: Array,
                default() {
                    return [];
                },
            },
            deleteRecommended: {
                type: Function,
                default: () => {},
            },
        },
        methods: {
            deleteRecommendedWrapper(course) {
                return () => this.deleteRecommended(course);
            },
        },
    };

</script>

<style scoped>

    .list {
        width: 100%;
        display: inline-block;
    }

    .list-item {
        float: left;
        width: 28%;
        height: 100px;
        margin-right: 1%;
        margin-bottom: 15px;
        padding: 10px 22px;
        color: #fff;
        background-color: #FF9460;
        vertical-align: top;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
    }

    .list-item-hover {
        display: none;
    }

    .list-item:hover .list-item-hover {
        display: block;
    }

    .list-item-hover,
    .list-item-hover:active {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 100px;
        background-color: #ffb690;
        text-align: center;
        user-select: none;
        position: absolute;
        z-index: 10;
    }

    .list-item-hover,
    .list-item-hover:hover {
        color: #fff;
    }

    .course-teacher {
        bottom: 10px;
        position: absolute;
    }

</style>
