<template>

    <popup v-ref:popup>
        <h3>
            {{ prompt.textTitle }}
        </h3>
        <div class="content">
            {{{ prompt.content }}}
        </div>
        <div class="operation">
            <label
                v-if="prompt.isRepeated"
                class="label-repeat">
                <input
                    v-model="isClearRepeated"
                    type="checkbox">
                <span>不再提醒</span>
            </label>
            <button
                @click="close"
                class="btn bg-green">
                {{ prompt.textUnderstand }}
            </button>
        </div>
    </popup>

</template>

<script>

    import Popup from "module/pc/Popup";

    import Promise from "promise";

    export default {
        components: {
            Popup,
        },
        props: {
            promptList: {
                type: Array,
                default() {
                    return [];
                },
            },
            deletePrompt: {
                type: Function,
                default() {
                    return Promise.resolve();
                },
            },
        },
        data() {
            return {
                isPrompting: false,
                tasks: [],
                prompt: {
                    id: null,
                    path: "",
                    content: "",
                    textTitle: "",
                    textUnderstand: "",
                    isRepeated: false,
                },
                isClearRepeated: false,
            };
        },
        watch: {
            promptList(list) {
                this.addTasks(list);
            },
            "$route.path"() {
                if (!this.isPrompting) {
                    this.showPrompt();
                }
            },
        },
        methods: {
            addTasks(list) {
                this.tasks = list;
                if (!this.isPrompting) {
                    this.showPrompt();
                }
            },
            getTask() {
                const { path } = this.$route;
                const list = this.tasks.filter(
                    item => (path.indexOf(item.path) !== -1)
                );
                return list[0];
            },
            showPrompt() {
                const item = this.getTask();
                if (!item) {
                    this.isPrompting = false;
                    return;
                }

                this.isPrompting = true;
                this.prompt = Object.assign({}, this.prompt, item);
                this.$refs.popup.show({
                    cb: () => this.showNextPrompt(item),
                });
            },
            showNextPrompt({ id }) {
                this.tasks = this.tasks.filter(item => (item.id !== id));
                window.setTimeout(this.showPrompt, 500);
            },
            close() {
                const { id, isRepeated } = this.prompt;
                this.deletePrompt(id, {
                    isRepeated: isRepeated && !this.isClearRepeated,
                });

                this.$refs.popup.hide();
                this.showNextPrompt(this.prompt);
            },
        },
    };

</script>

<style scoped>

    h3 {
        margin: 0;
        margin-bottom: .5em;
        font-weight: 600;
    }

    .content {
        margin: 15px 0;
        line-height: 1.6;
    }

    .operation {
        text-align: right;
    }

    .label-repeat {
        margin-right: 15px;
        cursor: pointer;
    }

    .label-repeat:active {
        opacity: .8;
    }

</style>
