<template>

    <ul class="source-accordion list">
        <li v-for="category in categories"
            :class="[ hasSelectedCategory(category) ? 'selected' : '' ]"
            class="list-item">
            <div class="bar">
                <a @click="selectCategory($index)"
                    :disabled="hasSelectedCategory(category)"
                    class="category">
                    <img
                        :src="category.iconPath"
                        class="icon">
                    </img>
                    <img
                        :src="category.activeIconPath"
                        class="icon-hover">
                    </img>
                    <span class="name">
                        {{ category.name }}
                    </span>
                </a>
            </div>
            <ul class="list-subcategory">
                <li v-for="subcategory in category.subcategories"
                    :class="[ hasSelectedSub(subcategory) ? 'selected' : '' ]"
                    class="list-subcategory-item">
                    <a @click="selectSub($index)"
                        :disabled="hasSelectedSub(subcategory)"
                        class="subcategory">
                        {{ subcategory.name }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</template>

<script>

    export default {
        props: {
            categories: {
                type: Array,
                default() {
                    return [];
                },
            },
            params: {
                type: Object,
                default() {
                    return {};
                },
            },
            updateCategory: {
                type: Function,
                default: () => {},
            },
        },
        methods: {
            selectCategory(index) {
                const { id, subcategories } = this.categories[index];
                this.updateCategory({
                    category: id,
                    subcategory: subcategories[0].id,
                    emptyNotice: subcategories[0].emptyNotice,
                });
            },
            selectSub(index) {
                const { category } = this.params;
                const { subcategories } = this.categories.find(
                    ({ id }) => (id === category)
                ) || {};
                this.updateCategory({
                    subcategory: subcategories[index].id,
                    emptyNotice: subcategories[index].emptyNotice,
                });
            },
            hasSelectedCategory({ id }) {
                return (id === this.params.category);
            },
            hasSelectedSub({ id }) {
                return (id === this.params.subcategory);
            },
        },
    };

</script>

<style scoped>

    a:not([disabled]):hover {
        color: #c6a47b;
    }

    .list-item {
        border-top: 1px solid #c6a47b;
    }

    .list-item:last-child {
        border-bottom: 1px solid #c6a47b;
    }

    .category {
        color: #5a4c40;
        font-size: 17px;
        line-height: 31px;
        letter-spacing: 0.1em;
        text-align: center;
        display: block;
        position: relative;
    }

    .list-item.selected .icon,
    .category:hover > .icon {
        display: none;
    }

    .list-item.selected .icon-hover,
    .category:hover > .icon-hover {
        display: inline-block;
    }

    .icon-hover {
        display: none;
    }

    .icon,
    .icon-hover {
        width: 24px;
        height: 24px;
        margin-top: -4px;
        vertical-align: middle;
    }

    .list-subcategory {
        padding: 5px 0;
        padding-left: 30px;
        display: none;
    }

    .list-item.selected .list-subcategory {
        border-top: 1px solid #c6a47b;
        display: block;
    }

    .list-subcategory-item {
        font-size: 14px;
        line-height: 1.5;
    }

    .list-subcategory-item.selected {
        color: #ff5d00;
    }

    .subcategory::before {
        content: "•";
        opacity: 0;
    }

    .list-subcategory-item.selected .subcategory::before {
        opacity: 1;
    }

</style>
