<template>

    <paginator
        :pagination="pagination"
        :load-page="loadSources">
        <ul v-if="sourceList.length > 0"
            class="list">
            <li v-for="source in sourceList"
                class="list-item">
                <img
                    :src="source.iconPath"
                    class="icon">
                <a @click="download(source)"
                    class="grid-source btn-download">
                </a>
                <div class="info">
                    <h4 class="source-name">
                        {{ source.name }}
                    </h4>
                    <p class="source-dl-count">
                        {{ source.downloadCount }}
                        下载
                    </p>
                </div>
            </li>
        </ul>
        <p v-else
            class="empty-notice">
            {{ emptyNotice }}
        </p>
    </paginator>

</template>

<script>

    import Paginator from "module/pc/Paginator";

    import * as config from "config";

    import Promise from "promise";

    export default {
        components: {
            Paginator,
        },
        props: {
            pagination: {
                type: Object,
                default() {
                    return {
                        page: 1,
                        numPages: 0,
                    };
                },
            },
            params: {
                type: Object,
                default: () => {},
            },
            loadSources: {
                type: Function,
                default: () => Promise.resolve(),
            },
            sourceList: {
                type: Array,
                default() {
                    return [];
                },
            },
            getSourceItem: {
                type: Function,
                default: () => Promise.reject(),
            },
        },
        computed: {
            emptyNotice() {
                const { emptyNotice } = this.params;
                return (emptyNotice || config.message.source.emptyNotice);
            },
        },
        methods: {
            download(source) {
                this.getSourceItem(source)
                    .then(({ url }) => {
                        const el = document.createElement("a");
                        el.setAttribute("download", source.name);
                        el.setAttribute("target", "_blank");
                        el.setAttribute("href", url);
                        el.style.display = "none";
                        document.body.appendChild(el);
                        el.click();
                        document.body.removeChild(el);
                    });
            },
        },
    };

</script>

<style scoped>

    .list-item {
        height: 75px;
        padding: 7px 0;
        border-bottom: 1px solid #c6a47b;
        box-sizing: border-box;
    }

    .list-item:first-child {
        border-top: 1px solid #c6a47b;
    }

    .icon {
        float: left;
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }

    .btn-download {
        float: right;
        margin-top: 13px;
        margin-right: 10px;
        width: 77px;
        height: 34px;
        background-position: -80px 0;
    }

    .btn-download:hover {
        background-position: -80px -40px;
    }

    .info {
        margin-left: 80px;
        margin-right: 97px;
        height: 100%;
        position: relative;
    }

    .source-name {
        margin: 2px 0;
        font-weight: 500;
    }

    .source-dl-count {
        bottom: 5px;
        color: #a59f99;
        font-size: 13px;
        position: absolute;
    }

    .empty-notice {
        padding: 7px 0;
        border-top: 1px solid #c6a47b;
    }

</style>
