<template>

    <div class="student-profile">
        <div class="grid-student profile-top">
            <avatar
                :avatar="profile.avatar"
                :update-avatar="updateAvatar"
                :save-avatar="saveAvatar"
                class="avatar">
            </avatar>
        </div>
        <div class="grid-student profile-body">
            <h3>{{ profile.name }}</h3>
            <hr>
            <div class="info">
                <p class="info-item"
                    :title="profile.gender">
                    <span class="label">
                        性别
                    </span>
                    {{ gender }}
                </p>
                <p class="info-item"
                    :title="profile.academy">
                    <span class="label">
                        院系
                    </span>
                    {{ profile.academy }}
                </p>
                <!-- <p class="info-item">
                    <span class="label">GPA</span>
                    {{ profile.gpa }}
                </p> -->
            </div>
            <hr>
            <div class="nav">
                <slot name="nav"></slot>
            </div>
        </div>
        <div class="grid-student profile-bottom">
        </div>
        <popup
            v-ref:popup>
        </popup>
    </div>

</template>

<script>

    import Popup from "module/pc/Popup";
    import Avatar from "module/pc/StudentProfileAvatar";

    export default {
        components: {
            Popup,
            Avatar,
        },
        props: {
            profile: {
                type: Object,
                default: {},
            },
            updateAvatar: {
                type: Function,
            },
            saveAvatar: {
                type: Function,
            },
        },
        data() {
            return {
                genderMap: {
                    男: "♂",
                    女: "♀",
                },
            };
        },
        computed: {
            gender() {
                const gender = this.profile.gender;
                return (this.genderMap[gender] || gender);
            },
        },
    };

</script>

<style scoped>

    .student-profile {
        margin: -7px;
        position: relative;
    }

    .profile-top {
        height: 153px;
    }

    .avatar {
        top: 10px;
        width: 115px;
        height: 115px;
        margin: 0 auto;
        border: 1px solid #d1d1d1;
        border-radius: 50%;
        display: block;
        position: relative;
    }

    .profile-body {
        padding: 0 14px;
    }

    .profile-body > h3 {
        margin: 0;
        padding: 0 1em;
        padding-top: 7px;
        padding-bottom: 3px;
        text-align: center;
        text-shadow: 1px 1px #fff;
        color: #222;
        font-size: 16px;
        font-weight: 500;
    }

    hr {
        margin: 3px 0;
        border-top: 1px dashed #d1d1d1;
    }

    .info {
        margin: 8px 0;
        padding: 0 3px;
        color: #535353;
        font-size: 12px;
        line-height: 1.6;
    }

    .info-item {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .info-item > .label {
        width: 3.2em;
        color: #222;
    }

    .info-item > .label::after {
        content: "：";
    }

    .nav {
        padding: 10px 0;
    }

    .profile-bottom {
        height: 15px;
    }

</style>
