<template>

    <div
        v-show="failed.length > 0"
        class="selecting-failed">
        <h3 class="title">*上次未选上的课</h3>
        <ul class="list clearfix">
            <li v-for="course in list"
                class="list-item">
                <a v-link="{ path: course.path }"
                    class="list-item-link">
                    {{ course.name }}
                </a>
            </li>
        </ul>
    </div>

</template>

<script>

    export default {
        props: {
            failed: {
                type: Array,
                default() {
                    return [];
                },
            },
        },
        computed: {
            list() {
                return this.failed.map(
                    course => Object.assign(
                        {},
                        course,
                        { path: `/course/public/elective/${course.number}` }
                    )
                );
            },
        },
    };

</script>

<style scoped>

    .selecting-failed {
        width: 100%;
        margin-top: 10px;
        line-height: 2;
        display: inline-block;
    }

    .title {
        float: left;
        width: 8em;
        margin: 0;
        color: #222;
        font-size: 12px;
        font-weight: 500;
    }

    .list {
        margin-left: 8em;
        color: #006ecc;
        font-size: 12px;
    }

    .list-item {
        float: left;
    }

    .list-item {
        margin-left: 1.5em;
    }

    .list-item-link:hover {
        color: inherit;
        text-decoration: underline;
    }

</style>
