<template>

    <field
        v-if="!isEmpty"
        title="无限选课列表">
        <a v-if="!hasSmsService"
            @click="showPopup"
            slot="sub"
            class="sms">
            免费开通短信提醒
        </a>
        <course-list
            :list="circulating"
            :btn-circulating="false"
            :delete-selecting="updateSelecting">
        </course-list>
        <popup
            v-ref:popup>
            <h3 class="popup-title">
                开通短信提醒
            </h3>
            <div class="popup-content">
                <label>
                    <span>手机号</span>
                    <input
                        v-model="contactNumber"
                        class="input-sms"
                        autofocus>
                </label>
            </div>
            <div class="popup-operation">
                <span
                    v-if="!!hint"
                    transition="fade"
                    class="hint">
                    {{ hint }}
                </span>
                <button
                    @click="subscribeSms"
                    :disabled="isWaiting"
                    class="btn bg-green">
                    {{ btnText }}
                </button>
            </div>
        </popup>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import Popup from "module/pc/Popup";
    import CourseList from "module/pc/StudentSelectingCourseList";

    export default {
        components: {
            Field,
            Popup,
            CourseList,
        },
        props: {
            sms: {
                type: Object,
                default: () => ({ smsService: false }),
            },
            updateSms: {
                type: Function,
                default: () => Promise.resolve(),
            },
            circulating: {
                type: Array,
                default: () => [],
            },
            updateSelecting: {
                type: Function,
                default: () => Promise.resolve(),
            },
        },
        data() {
            return {
                hasHint: false,
                hint: null,
                isWaiting: false,
                contactNumber: "",
            };
        },
        computed: {
            btnText() {
                return (this.isWaiting ? "正在提交..." : "确认");
            },
            isEmpty() {
                return !this.circulating.length;
            },
            hasSmsService() {
                const { smsService } = this.sms;
                return !!smsService;
            },
        },
        methods: {
            showPopup() {
                this.$refs.popup.show();
            },
            hidePopup() {
                this.$refs.popup.hide();
            },
            startWaiting() {
                this.isWaiting = true;
            },
            endWaiting(hint) {
                this.isWaiting = false;
                this.hint = hint || "失败了呢：（";
            },
            subscribeSms() {
                if (this.isWaiting) {
                    return;
                }

                const { contactNumber } = this;
                this.startWaiting();
                this.updateSms({ contactNumber, smsService: true })
                    .then(() => {
                        this.endWaiting();
                        this.hidePopup();
                    }, x => window.console.log(x))
                    .catch(() => this.endWaiting());
            },
        },
    };

</script>

<style scoped>

    .sms {
        color: #006ecc;
        font-size: 12px;
    }

    .popup-title {
        margin: 0;
        margin-bottom: .5em;
        font-weight: 600;
    }

    .popup-content {
        margin: 15px 0;
        width: 460px;
        color: #1f1f1f;
        font-size: 12px;
        text-align: center;
        line-height: 1.6;
    }

    .popup-content > p {
        text-indent: 20px;
    }

    .input-sms {
        width: 160px;
        padding: 2px 5px;
        margin-left: 20px;
        text-align: center;
        border: 1px solid #000000;
    }

    .popup-operation {
        text-align: right;
    }

    .hint {
        margin-right: .5em;
        letter-spacing: 0;
        color: #888;
    }

</style>
