<template>

    <div class="tab-sheet">
        <div class="nav clearfix">
            <a @click="select(selected - 1)"
                class="grid-list icon-prev float-left">
            </a>
            <a v-for="label in labels"
                @click="select($index)"
                class="nav-item"
                :disabled="selected === $index">
                {{ label }}
            </a>
            <a @click="select(selected + 1)"
                class="grid-list icon-next float-left">
            </a>
        </div>
        <p class="description">{{ description }}</p>
        <hr>
        <div class="list">
            <template v-if="list">
                <a v-for="item in list"
                    v-link="{ path: item.path }"
                    @click="item.onClick($event)"
                    :class="[ ($index < 3) ? 'list-item-hot' : '' ]"
                    class="list-item">
                    {{ $index + 1 }}. {{ item.name }}
                </a>
            </template>
            <slot v-else
                name="blank">
            </slot>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            datasets: {
                type: Array,
                required: true,
            },
        },
        data() {
            return {
                selected: 0,
            };
        },
        computed: {
            size() {
                return this.datasets.length;
            },
            labels() {
                return this.datasets.map(item => item.label);
            },
            description() {
                return this.datasets[this.selected].description;
            },
            list() {
                return this.datasets[this.selected].list;
            },
        },
        methods: {
            select(index) {
                if ((index >= 0) && (index < this.size)) {
                    this.selected = index;
                }
            },
        },
    };

</script>

<style scoped>

    .tab-sheet {
        padding: 0 5px;
        border: 1px solid #ff5d00;
        border-radius: 6px;
    }

    .nav {
        margin: 10px 2px;
        font-size: 12px;
        line-height: 14px;
    }

    .nav-item {
        float: left;
        color: #077fff;
    }

    .nav-item[disabled] {
        color: #ff5d00;
    }

    .nav-item,
    .icon-next {
        margin-left: 5px;
    }

    .description {
        font-size: 14px;
        text-align: center;
        color: #6f6f6f;
    }

    hr {
        margin: 3px 0;
        border-top: 2px dashed #f7b099;
    }

    .list {
        padding: 0 10px;
        margin: 7px 0;
    }

    .list-item {
        line-height: 27px;
        font-size: 12px;
        color: #989898;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .list-item-hot,
    .list-item:hover {
        color: #ff5d00;
    }

    .list-item-hot {
        opacity: .6;
    }

</style>
