<template>

    <div></div>

</template>

<script>

    import Highcharts from "highcharts";

    const dpr = Number(
        window.document.documentElement.getAttribute("data-dpr")
    );
    const fontFamily = "'Hiragino Sans GB W3', 'NotoSansCJKsc-Regular'";
    const defaultOptions = {
        chart: {
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            style: {
                color: "#222222",
            },
        },
        colors: [ "#f98a4a", "#eead87", "#cacaca" ],
        credits: {
            enabled: false,
        },
        title: {
            style: {
                fontFamily,
                fontSize: `${13 * dpr}px`,
            },
        },
        tooltip: {
            formatter() {
                const studentsCount = Highcharts.numberFormat(this.y, 0, ",");
                const percentage = Highcharts.numberFormat(this.percentage, 1);
                return `
                    <b>${this.point.name}</b>
                    <br>
                    ${studentsCount}人(${percentage}%)
                `;
            },
            style: {
                fontFamily,
            },
        },
        legend: {
            borderWidth: 0,
            layout: "vertical",
            itemMarginTop: 5,
            symbolPadding: 3,
            symbolWidth: 12,
            itemStyle: {
                fontFamily,
                fontSize: `${12 * dpr}px`,
            },
            labelFormatter() {
                function parse(per) {
                    const interger = Math.floor(per);
                    const decimal = Math.round((per - interger) * 10);
                    if (decimal > 0) {
                        return `${interger}.${decimal}`;
                    }
                    return interger;
                }

                const parsedPercentage = parse(this.percentage);
                const studentsCount = Math.round(this.total * this.percentage / 100.0);
                return `
                    ${this.name}
                    <br>
                    (${parsedPercentage}%,${studentsCount}人)
                `;
            },
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                borderColor: "#efefef",
                borderWidth: 2,
                cursor: "pointer",
                dataLabels: {
                    enabled: false,
                },
                shadow: false,
                showInLegend: true,
                point: {
                    events: {
                        legendItemClick() {
                            return false;
                        },
                    },
                },
            },
        },
        exporting: {
            buttons: {
                exportButton: {
                    enabled: false,
                },
                printButton: {
                    enabled: false,
                },
            },
        },
        series: [ { type: "pie", name: null } ],
    };

    export default {
        props: {
            title: {
                type: String,
                required: true,
            },
            series: {
                type: Array,
                required: true,
            },
        },
        data() {
            return {
                chart: null,
            };
        },
        watch: {
            title(value) {
                this.chart.setTitle(value);
            },
            series(value) {
                this.chart.series[0].setData(value);
            },
        },
        methods: {
            init() {
                const options = Object.assign({}, defaultOptions);
                options.chart.renderTo = this.$el;
                options.title.text = this.title;
                options.series.data = this.series;
                this.chart = new Highcharts.Chart(options);
            },
            resize() {
                const width = this.$el.offsetWidth;
                this.chart.setSize(width, width + 180 * dpr);
            },
        },
        ready() {
            this.init();
            this.resize();

            window.addEventListener("resize", this.resize);
        },
    };

</script>
