<template>

    <div
        @click="check"
        :class="[ model ? 'selected' : '' ]"
        class="check-box">
        <span
            v-if="title"
            class="title">
            {{ title }}
        </span>
        <span class="switch">
            <span class="switch-track"></span>
            <span class="switch-thumb"></span>
        </span>
    </div>

</template>

<script>

    import { isIPhone } from "plugin/environment";

    export default {
        props: {
            title: {
                type: String,
                default: null,
            },
            model: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                isIPhone,
            };
        },
        methods: {
            check() {
                this.model = !this.model;
            },
        },
    };

</script>

<style scoped>

    .check-box {
        position: relative;
    }

    .icon-checkbox,
    .icon-switch {
        right: 0;
        top: 50%;
        position: absolute;
    }

    .icon-checkbox {
        margin-top: -.2rem;
        transform: translateY(-1px);
    }

    .icon-switch {
        width: 1.36rem;
        height: .826667rem;
        margin-top: -.413333rem;
        background: url(../../../image/webapp/switch_1x.png) scroll no-repeat center center / contain;
    }

    [data-dpr="2"] .icon-switch {
        background-image: url(../../../image/webapp/switch_2x.png);
    }

    [data-dpr="3"] .icon-switch {
        background-image: url(../../../image/webapp/switch_3x.png);
    }

    .selected > .icon-switch {
        background-image: url(../../../image/webapp/switch_selected_1x.png);
    }

    [data-dpr="2"] .selected > .icon-switch {
        background-image: url(../../../image/webapp/switch_selected_2x.png);
    }

    [data-dpr="3"] .selected > .icon-switch {
        background-image: url(../../../image/webapp/switch_selected_3x.png);
    }

    .switch {
        right: 0;
        top: 50%;
        width: 1.2rem;
        height: .64rem;
        transform: translateY(-50%);
        position: absolute;
    }

    .switch-track {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .26);
        border-radius: .32rem;
        position: absolute;
    }

    [data-device="other"] .switch-track {
        top: .133333rem;
        bottom: .133333rem;
        border-radius: .186667rem;
    }

    .switch-thumb {
        left: .02rem;
        top: .02rem;
        width: .6rem;
        height: .6rem;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
            0 3px 1px -2px rgba(0, 0, 0, .2),
            0 1px 5px 0 rgba(0, 0, 0, .12);
        position: absolute;
        transition: left cubic-bezier(.4,0,.2,1) .5s;
    }

    [data-device="other"] .switch-thumb {
        left: 0;
        top: 0;
        width: .64rem;
        height: .64rem;
    }

    .selected .switch-track {
        background: rgba(249, 138, 74, .5);
        /* background: rgba(22, 163, 166, .5); */
    }

    .selected .switch-thumb {
        left: .6rem;
    }

    [data-device="other"] .selected .switch-thumb {
        left: .56rem;
        /* background: #16a3a6; */
        background: #f98a4a;
    }

</style>
