<template>

    <span
        @click="check"
        :class="[ selected ? 'selected' : '' ]"
        class="check-btn">
        {{ text }}
    </span>

</template>

<script>

    export default {
        props: {
            text: {
                type: String,
                required: true,
            },
            value: {
            },
            model: {
                type: Array,
                default() {
                    return [];
                },
            },
        },
        computed: {
            selected() {
                return this.model.some(v => (v === this.value));
            },
        },
        methods: {
            check() {
                if (!this.selected) {
                    this.model.push(this.value);
                }
                else {
                    this.model = this.model.filter(v => (v !== this.value));
                }
            },
        },
    };

</script>

<style scoped>

    .check-btn {
        padding: .133333rem .4rem;
        margin: .1rem 0;
        margin-right: .4rem;
        border: 1px solid #a8a8a8;
        border-radius: .066667rem;
        color: #a1a1a1;
        font-size: 11px;
        text-align: center;
    }

    [data-dpr="2"] .check-btn {
        font-size: 22px;
    }

    [data-dpr="3"] .check-btn {
        font-size: 33px;
    }

    .check-btn.selected {
        color: #fff;
        background: #f8ab7c;
        border-color: #f8ab7c;
    }

</style>
