<template>

    <div
        :class="[ enable ? 'enable' : '' ]"
        class="course-filter">
        <div v-el:filter-tab class="filter-tab clearfix">
            <div
                v-for="label in labels"
                @click="select($index)"
                :class="[ isSelected[$index] ? 'selected' : '' ]"
                class="tab-item">
                <span
                    :class="[ isSelected[$index] ? 'selected' : '' ]"
                    class="wrapper">
                    {{ label }}
                    <span class="icon icon-drop"></span>
                </span>
            </div>
        </div>
        <div v-el:filter-content class="filter-content">
            <div class="content-header row">
                <check-box
                    :model.sync="results.onlyRemain"
                    title="只看有剩余名额的课程">
                </check-box>
            </div>
            <div class="content-body">
                <filter-sheet
                    v-for="filters in combinedFilters"
                    v-show="isSelected[$index]"
                    :filters="filters"
                    :model="results">
                </filter-sheet>
            </div>
            <div class="content-footer row">
                <div class="col-left">
                    <a @click="reset" class="btn-reset">重置</a>
                </div>
                <div class="col-right">
                    <a @click="start" class="btn-start">开始淘课</a>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import CheckBox from "module/webapp/CheckBox";
    import FilterSheet from "module/webapp/FilterSheet";

    import { extend, eventPathIncludes } from "util";

    export default {
        props: {
            enable: {
                type: Boolean,
                required: true,
            },
            showFilter: {
                type: Function,
                required: true,
            },
            hideFilter: {
                type: Function,
                required: true,
            },
            currentFilters: {
                type: Object,
            },
            changeFilters: {
                type: Function,
            },
        },
        components: {
            CheckBox,
            FilterSheet,
        },
        data() {
            return {
                current: 0,
                labels: [ "按时间地点", "按领域学分", "按排名" ],
                initValues: {
                    onlyRemain: false,
                    weekday: [],
                    department: [],
                    field: [],
                    credit: [],
                    order: null,
                },
                results: null,
                filters: [
                    {
                        title: "按时间",
                        type: "multiple",
                        value: "weekday",
                        keys: [
                            { value: 1, text: "周一" },
                            { value: 2, text: "周二" },
                            { value: 3, text: "周三" },
                            { value: 4, text: "周四" },
                            { value: 5, text: "周五" },
                            { value: 6, text: "周六" },
                            { value: 7, text: "周日" },
                        ],
                    },
                    {
                        title: "按地点",
                        type: "multiple",
                        value: "department",
                        keys: [
                            { value: 1, text: "文理学部" },
                            { value: 2, text: "工学部", placeholder: "坑" },
                            { value: 3, text: "信息学部" },
                            { value: 4, text: "医学部", placeholder: "坑" },
                        ],
                    },
                    {
                        title: "按领域",
                        type: "multiple",
                        value: "field",
                        keys: [
                            { text: "自然与工程类" },
                            { text: "研究与领导类" },
                            { text: "艺术与欣赏类" },
                            { text: "人文与社会类" },
                            { text: "数学与推理类" },
                            { text: "中国与全球类" },
                            { text: "交流与写作类" },
                        ],
                    },
                    {
                        title: "按学分",
                        type: "multiple",
                        value: "credit",
                        keys: [
                            { text: "1" },
                            { text: "2" },
                            { text: "3" },
                        ],
                    },
                    {
                        title: "按排名",
                        type: "ratio",
                        value: "order",
                        keys: [
                            { value: "quality", text: "讲课好" },
                            { value: "score", text: "给分高" },
                            { value: "attendance", text: "点名少" },
                            { value: "boy", text: "男生多" },
                            { value: "girl", text: "女生多" },
                        ],
                    },
                ],
            };
        },
        computed: {
            combinedFilters() {
                const filters = this.filters;
                return [
                    [ filters[0], filters[1] ],
                    [ filters[2], filters[3] ],
                    [ filters[4] ],
                ];
            },
            isSelected() {
                if (this.enable) {
                    return this.combinedFilters.map(
                        (item, index) => (index === this.current)
                    );
                }

                return this.combinedFilters.map(
                    (item) => item.some(
                        key => !!this.currentFilters[key]
                    )
                );
            },
        },
        methods: {
            select(index) {
                if (!this.enable) {
                    this.showFilter();
                }
                this.current = index;
            },
            reset() {
                this.results = extend({}, this.initValues);
            },
            start() {
                if (this.changeFilters) {
                    this.changeFilters(this.results);
                    this.hideFilter();
                }
            },
        },
        beforeCompile() {
            this.reset();
        },
        ready() {
            const els = this.$els;
            const cb = (event) => {
                if (!(eventPathIncludes(event, els.filterTab) ||
                    (eventPathIncludes(event, els.filterContent)))) {
                    this.hideFilter();
                }
            };
            document.addEventListener("click", cb, true);
        },
    };

</script>

<style scoped>

    .course-filter {
        left: 0;
        right: 0;
        top: 0;
        height: 1.0rem;
        font-size: 11px;
        position: absolute;
        overflow: hidden;
        z-index: 200;
    }

    [data-dpr="2"] .course-filter {
        font-size: 22px;
    }

    [data-dpr="3"] .course-filter {
        font-size: 33px;
    }

    .course-filter.enable {
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
    }

    .filter-tab,
    .filter-content {
        background: #fff;
    }

    [data-device="other"] .filter-tab,
    [data-device="other"] .filter-content {
        background: #fafafa;
    }

    .tab-item {
        float: left;
        width: 33.3333%;
        height: 1.0rem;
        line-height: 1.0rem;
        color: #1b1b1b;
        text-align: center;
    }

    .tab-item.selected {
        color: #f98b49;
    }

    .wrapper {
        transform: translateX(.293333rem);
    }

    .content-header {
        padding: 0 .466667rem;
        line-height: 1.066667rem;
        color: #212121;
        border-top: 1px solid #c9c9c9;
        border-bottom: 1px solid #c9c9c9;
    }

    .content-body {
        color: #a1a1a1;
    }

    .sheet {
        padding: .4rem .466667rem;
    }

    .content-footer {
        padding: .466667rem;
    }

    .btn-reset {
        color: #f98a4a;
    }

    .btn-start {
        color: #16a3a6;
    }

</style>
