<template>

    <div class="empty-tip">
        <span class="empty-img"></span>
        <p class="empty-text">{{ text }}</p>
        <p class="empty-text" v-if="tip">{{ tip }}</p>
    </div>

</template>

<script>

    export default {
        props: {
            text: {
                type: String,
                default: "这里好像什么都没有唉……",
            },
            tip: {
                type: String,
                default: null,
            },
        },
    };

</script>

<style scoped>

    .empty-tip {
        margin: .666667rem 0;
        color: #3d3d3d;
        font-size: 11px;
        line-height: 1.8;
        text-align: center;
    }

    [data-dpr="2"] .empty-tip {
        font-size: 22px;
    }

    [data-dpr="3"] .empty-tip {
        font-size: 33px;
    }

    .empty-img {
        width: 3.613333rem;
        height: 2.346667rem;
        margin-bottom: .4rem;
        background: url(../../../image/webapp/empty_1x.png) scroll no-repeat center center / contain;
    }

    [data-dpr="2"] .empty-img {
        background: url(../../../image/webapp/empty_2x.png) scroll no-repeat center center / contain;
    }

    [data-dpr="3"] .empty-img,
    [data-device="other"] .empty-img {
        background: url(../../../image/webapp/empty_3x.png) scroll no-repeat center center / contain;
    }

</style>
