<template>

    <div
        :class="[ isMutiple ? 'multiple' : '' ]"
        class="filter-sheet row">
        <template v-if="isMutiple">
            <div
                v-for="filter in filters"
                class="sheet-field clearfix">
                <p class="field-title">{{ filter.title }}</p>
                <check-btn
                    v-for="key in filter.keys"
                    :text="key.text"
                    :value="key.value || key.text"
                    :model.sync="model[filter.value]"
                    class="float-left">
                </check-btn>
            </div>
        </template>
        <radio-list
            v-else
            v-for="filter in filters"
            :items="filter.keys"
            :model.sync="model[filter.value]">
        </radio-list>
    </div>

</template>

<script>

    import CheckBtn from "module/webapp/CheckBtn";
    import RadioList from "module/webapp/RadioList";

    export default {
        components: {
            CheckBtn,
            RadioList,
        },
        props: {
            filters: {
                type: Array,
                required: true,
            },
            model: {
                type: Object,
                required: true,
                default() {
                    return {};
                },
            },
        },
        computed: {
            isMutiple() {
                return (this.filters.length > 1);
            },
        },
    };

</script>

<style scoped>

    .filter-sheet {
        padding-bottom: .2rem;
        color: #212121;
    }

    .filter-sheet.multiple {
        padding: .2rem .466667rem;
    }

    .sheet-field {
        margin-bottom: .266667rem;
    }

    .field-title {
        padding: 0;
        margin-bottom: .133333rem;
        color: #212121;
        font-size: inherit;
        font-weight: 500;
        line-height: 1.6;
    }

</style>
