<template>

    <div @click.stop.prevent v-show="show" class="loading">
        <div v-if="loadingStatus" class="loading-pending">
            <div class="loading-bar">
                <span v-for="i in 10"
                    class="loading-circle"
                    :style="{ 'animation-delay': animationDelayList[i] + 's' }">
                </span>
            </div>
            <p>正在为客官努力加载~</p>
        </div>
        <div v-else @click="reload" class="loading-fail">
            <div class="raindrop"></div>
            <p>_(:3 」∠)_</p>
            <p>加载失败了哟</p>
            <p>要不要试试点击重新加载呢~</p>
        </div>
    </div>

</template>

<script>

    import Promise from "promise";

    export default {
        data() {
            return {
                show: false,
                loadingStatus: true,
                loadCb: [],
                afterLoadingCb: null,
                parentOverflowStyle: null,
                animationDelayList: [ 2.4, 2, 1.6, 1.2, 0.8, 0.4, 0, -0.4, -0.8, -1.2 ],
            };
        },
        methods: {
            start(...cbs) {
                return new Promise((resolve) => {
                    this.init(cbs, resolve);
                });
            },
            init(loadCbs, afterLoadingCb) {
                this.loadCbs = loadCbs;
                this.afterLoadingCb = afterLoadingCb;

                this.loadingStatus = true;
                this.show = true;

                const parentEl = this.$el.parentElement;
                this.parentOverflowStyle = window.getComputedStyle(parentEl, null).overflow;
                parentEl.style.overflow = "hidden";

                this.load();
            },
            load() {
                Promise
                    .all(this.loadCbs.map((cb) => {
                        if (cb instanceof Function) {
                            const ret = cb() || {};
                            if (ret.then && ret.catch) {
                                return ret;
                            }
                        }
                        return Promise.resolve();
                    }))
                    .then(() => {
                        this.show = false;
                        this.$el.parentElement.style.overflow = this.parentOverflowStyle;
                        this.afterLoadingCb();
                    })
                    .catch((error) => {
                        this.loadingStatus = false;
                        throw new Error(error);
                    });
            },
            reload() {
                this.loadingStatus = true;
                this.load();
            },
        },
    };

</script>

<style scoped>

    .loading {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fafafa;
        text-align: center;
        font-size: 15px;
        line-height: 1.6;
        position: absolute;
        z-index: 900;
    }

    [data-dpr="2"] .loading {
        font-size: 30px;
    }

    [data-dpr="3"] .loading {
        font-size: 45px;
    }

    .loading-pending,
    .loading-fail {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .loading-pending {
        padding-top: 2.666667rem;;
    }

    .loading-fail {
        padding-top: 1.6rem;
    }

    .loading-bar {
        width: 5.333333rem;
        height: .4rem;
        display: inline-block;
        overflow: hidden;
        position: relative;
    }

    .loading-circle {
        width: .4rem;
        height: .4rem;
        left: 0;
        top: 0;
        border-radius: 50%;
        background: #0097a7;
        position: absolute;
        animation: move 5s cubic-bezier(.785, .135, .15, .86);
        animation-iteration-count: infinite;
        will-change: transform;
        transform: translate3d(-100%, 0, 0);
    }

    @keyframes move {
        0% {
            transform: translate3d(-300%, 0, 0);
            opacity: 1;
        }

        100% {
            transform: translate3d(1450%, 0, 0);
            opacity: .1;
        }
    }

    .raindrop {
        width: 1.426667rem;
        height: 1.773333rem;
        background: url(../../../image/webapp/raindrop_1x.png) scroll no-repeat center center / contain;
        display: inline-block;
    }

    [data-dpr="2"] .raindrop {
        background-image: url(../../../image/webapp/raindrop_2x.png);
    }

    [data-dpr="3"] .raindrop,
    [data-device="other"] .raindrop {
        background-image: url(../../../image/webapp/raindrop_3x.png);
    }

</style>
