<template>

    <div class="popular-sheet page-body page-field">
        <p class="field-title">热门课程</p>
        <div class="field-body clearfix">
            <a v-for="popular in popularList"
                v-link="{ path: pathList[$index] }"
                class="popular-item">
                {{ popular.name }}
            </a>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            popularList: {
                type: Array,
                default() {
                    return [];
                },
            },
        },
        computed: {
            pathList() {
                return this.popularList.map(
                    course => `/detail/${course.number}`
                );
            },
        },
    };

</script>

<style scoped>

    .popular-sheet {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 300;
    }

    .popular-item {
        float: left;
        padding: 0 .266667rem;
        margin: .133333rem 0;
        margin-right: .266667rem;
        color: #b2b2b2;
        font-size: 14px;
        line-height: 2;
        border: 1px solid #c2c2c2;
        border-radius: .066667rem;
    }

    [data-dpr="2"] .popular-item {
        font-size: 28px;
    }

    [data-dpr="3"] .popular-item {
        font-size: 42px;
    }

    [data-device="other"] .popular-item {
        background: #eee;
        color: #212121;
    }

    [data-device="other"] .page-body {
        background: #f5f5f5;
    }

    [data-device="other"] .field-title {
        padding-left: .4rem;
        color: #808080;
        font-size: 13px;
        font-weight: 500;
    }

    [data-device="other"] .field-body {
        border: 0;
        background: inherit;
    }

</style>
