<template>

    <div
        v-show="enable"
        class="popup">
        <div
            v-show="enableSub"
            transition="fade"
            class="popup-box">
            <div class="popup-content">
                <p v-for="content in contens"
                    :class="[
                        ($index === 0) ?
                        'content-primary' :
                        ''
                    ]">
                    {{ content }}
                </p>
                <slot></slot>
            </div>
            <div
                v-if="!alert"
                class="popup-btn-list clearfix">
                <a @click="hide(true)"
                    href="javascript: void(0);"
                    class="popup-btn">
                    确认
                </a>
                <a @click="hide(false)"
                    href="javascript: void(0);"
                    class="popup-btn">
                    取消
                </a>
            </div>
        </div>
    </div>

</template>

<script>

    export default {
        data() {
            return {
                cb: null,
                enable: false,
                enableSub: false,
                alert: false,
                contens: [],
            };
        },
        watch: {
            enable(value) {
                if (value) {
                    window.setTimeout(() => (this.enableSub = true), 10);
                    return;
                }
                this.enableSub = false;
            },
        },
        methods: {
            show(options = {}) {
                this.enable = true;
                this.cb = options.cb;
                this.alert = !!options.alert;
                this.contens = options.contents;
                if (options.duration) {
                    setTimeout(() => {
                        this.hide();
                    }, options.duration);
                }
            },
            hide(result) {
                this.enable = false;
                if (this.cb instanceof Function) {
                    this.cb(result);
                }
            },
        },
    };

</script>

<style scoped>

    .popup {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .2);
        line-height: 2;
        text-align: center;
        position: fixed;
        z-index: 9999;
    }

    .popup-box {
        left: 50%;
        top: 50%;
        width: 70%;
        background: #fff;
        transform: translate(-50%, -50%);
        position: absolute;
        box-sizing: border-box;
    }

    [data-device="iphone"] .popup-box {
        border-radius: .3rem;
    }

    [data-device="other"] .popup-box {
        padding: .2rem 0;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .2);
    }

    .popup-content {
        padding: .3rem .2rem;
        color: #000;
        font-size: 12px;
    }

    [data-dpr="2"] .popup-content {
        font-size: 24px;
    }

    [data-dpr="3"] .popup-content {
        font-size: 36px;
    }

    [data-device="other"] .popup-content {
        color: #666;
    }

    [data-device="iphone"] .content-primary {
        font-weight: 700;
    }

    .content-primary,
    .popup-btn-list {
        font-size: 17px;
    }

    [data-dpr="2"] .content-primary,
    [data-dpr="2"] .popup-btn-list {
        font-size: 34px;
    }

    [data-dpr="3"] .content-primary,
    [data-dpr="3"] .popup-btn-list {
        font-size: 51px;
    }

    [data-device="iphone"] .popup-btn-list {
        border-top: 1px solid #a9a9a9;
    }

    [data-device="other"] .content-primary,
    [data-device="other"] .popup-btn-list {
        font-size: 15px;
    }

    .popup-btn {
        width: 50%;
        padding: .1rem 0;
        box-sizing: border-box;
    }

    [data-device="iphone"] .popup-btn {
        float: left;
        color: #2a6cc0;
    }

    [data-device="iphone"] .popup-btn:first-child {
        font-weight: 700;
        border-right: 1px solid #a9a9a9;
    }

    [data-device="other"] .popup-btn {
        float: right;
        font-weight: 700;
        color: #444;
    }

    [data-device="other"] .popup-btn:first-child {
        color: #eb6877;
    }

</style>
