<template>

    <div class="require-login">
        <p v-if="tip" class="tip">{{ tip }}</p>
        <span class="require-img"></span>
        <a v-link="{ path: '/login' }"
            class="login-btn">
            点击登录
        </a>
    </div>

</template>

<script>

    export default {
        props: {
            tip: {
                type: String,
                default: null,
            },
        },
    };

</script>

<style scoped>

    .require-login {
        padding-top: 2rem;
        color: #212121;
        font-size: 14px;
        text-align: center;
    }

    [data-dpr="2"] .require-login {
        font-size: 28px;
    }

    [data-dpr="3"] .require-login {
        font-size: 42px;
    }

    .require-img {
        width: 10rem;
        height: 3.773333rem;
        margin: 1rem 0;
        background: url(../../../image/webapp/require_1x.png) scroll no-repeat center center / contain;
    }

    [data-dpr="2"] .require-img {
        background-image: url(../../../image/webapp/require_2x.png);
    }

    [data-dpr="3"] .require-img {
        background-image: url(../../../image/webapp/require_3x.png);
    }

    .login-btn {
        width: 60%;
        margin: 0 auto;
        line-height: 2.5;
        background: #16a3a6;
        color: #fff;
        border-radius: .133333rem;
        font-size: 17px;
        display: block;
    }

    [data-dpr="2"] .login-btn {
        font-size: 34px;
    }

    [data-dpr="3"] .login-btn {
        font-size: 51px;
    }

</style>
