<template>

    <div class="segmented-control clearfix">
        <a v-for="tag in tags"
            v-link="{ name: tag.link }"
            class="segmented-tag float-left">{{ tag.name }}
        </a>
    </div>

</template>

<script>

    export default {
        props: {
            tags: {
                type: Array,
                required: true,
            },
        },
    };

</script>

<style scoped>

    .segmented-control {
        height: .773333rem;
        line-height: .773333rem;
        border: 1px solid #fff;
        border-radius: .133333rem;
        font-size: 14px;
        vertical-align: middle;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        transform: translateY(-.053333rem);
    }

    [data-dpr="2"] .segmented-control {
        border-width: 2px;
        font-size: 28px;
    }

    [data-dpr="3"] .segmented-control {
        border-width: 3px;
        font-size: 42px;
    }

    .segmented-tag {
        height: 100%;
        padding: 0 .4rem;
        color: #fff;
    }

    .segmented-tag.selected {
        color: #16a3a6;
        background: #fff;
    }

</style>
