<template>

    <div class="tab">
        <a v-link="{ path: '/course/find' }"
            class="tab-item btn">
            <span class="tab-item-icon icon icon-find"></span>
            <p>淘课</p>
        </a>
        <a v-link="{ path: '/course/select' }"
            class="tab-item btn">
            <span class="tab-item-icon icon icon-select"></span>
            <p>选课</p>
        </a>
        <a v-link="{ path: '/course/comment' }"
            class="tab-item btn">
            <span class="tab-item-icon icon icon-comment"></span>
            <p>评课</p>
        </a>
    </div>

</template>

<script>

    export default {};

</script>

<style scoped>

    .tab {
        left: 0;
        right: 0;
        bottom: 0;
        height: 1.6rem;
        border-top: 1px solid #929292;
        background: #fff;
        position: absolute;
        z-index: 999;
    }

    [data-device="other"] .tab {
        background: #f5f5f5;
        border: 0;
        box-shadow: 0 -3px 1px 0 rgba(0, 0, 0, .08);
    }

    .tab-item {
        float: left;
        top: 50%;
        width: 33.33333%;
        color: #757575;
        font-size: 12px;
        text-align: center;
        transition: color .3s ease;
        transform: translateY(-50%);
        position: relative;
    }

    .tab-item.selected {
        color: #f58005;
    }

    [data-dpr="2"] .tab-item {
        font-size: 24px;
    }

    [data-dpr="3"] .tab-item {
        font-size: 36px;
    }

    .tab-item-icon {
        margin-bottom: .066667rem;
    }

</style>
