<template>

    <div class="tab-top clearfix">
        <a v-for="tag in tags"
            v-link="{ name: tag.link }"
            :style="{ width: widthPercent + '%' }"
            class="tab-top-tag float-left">{{ tag.name }}
        </a>
    </div>

</template>

<script>

    export default {
        props: {
            tags: {
                type: Array,
                required: true,
            },
        },
        computed: {
            widthPercent() {
                return 100 / this.tags.length;
            },
        },
    };

</script>

<style scoped>

    .tab-top {
        left: 0;
        right: 0;
        top: 0;
        line-height: .9rem;
        font-size: 11px;
        text-align: center;
        background: #fafafa;
        box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .08);
        position: absolute;
        z-index: 999;
        box-sizing: border-box;
    }

    [data-dpr="2"] .tab-top {
        font-size: 22px;
    }

    [data-dpr="3"] .tab-top {
        font-size: 33px;
    }

    .tab-top-tag {
        height: 100%;
        color: #757575;
        border-bottom: .08rem solid transparent;
        box-sizing: border-box;
    }

    .tab-top-tag.selected {
        color: #f98a4a;
        border-color: #f98a4a;
    }

</style>
