a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

a,
span {
    display: inline-block;
}

input,
textarea {
    border: 0;
    outline: 0;
    color: inherit;
    background: inherit;
}

input:focus {
    outline: 0;
}

.block {
    display: block;
}

.underline {
    text-decoration: underline;
}

.selected-show {
    display: none;
}

.selected-hide {
    display: inline-block;
}

.selected-hide.block {
    display: block;
}

.selected .selected-show {
    display: inline-block;
}

.selected .selected-show.block {
    display: block;
}

.selected .selected-hide {
    display: none;
}

/**
 * float styles
 */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    width: 0;
    height: 0;
    clear: both;
    display: block;
}

/**
 * button style
 */
.btn {
    cursor: pointer;
    user-select: none;
}

/**
 * border styles
 */
.no-border {
    border: 0;
}

/**
 * col styles
 */
.row {
    display: block;
}

.row::after {
    content: "";
    width: 0;
    height: 0;
    clear: both;
    display: block;
}

.col-left,
.col-right {
    float: left;
    width: 50%;
}

.col-left,
.text-left {
    text-align: left;
}

.col-right {
    text-align: right;
}

/**
 * vue transition
 */
.fade-transition {
    opacity: 1;
    transition: opacity .5s ease;
}

.fade-enter,
.fade-leave {
    opacity: 0;
}
