.icon {
    width: .586667rem;
    height: .586667rem;
    background: transparent scroll no-repeat center center / contain;
    vertical-align: middle;
    transform: translateY(-2px);
}

.icon-md {
    width: .4rem;
    height: .4rem;
}

.icon-sm {
    width: .266667rem;
    height: .266667rem;
}

.icon-find {
    background-image: url(../image/webapp/find_unselected_icon_1x.png);
}

[data-dpr="2"] .icon-find {
    background-image: url(../image/webapp/find_unselected_icon_2x.png);
}

[data-dpr="3"] .icon-find,
[data-device="other"] .icon-find {
    background-image: url(../image/webapp/find_unselected_icon_3x.png);
}

.selected > .icon-find {
    background-image: url(../image/webapp/find_selected_icon_1x.png);
}

[data-dpr="2"] .selected > .icon-find {
    background-image: url(../image/webapp/find_selected_icon_2x.png);
}

[data-dpr="3"] .selected > .icon-find,
[data-device="other"] .selected > .icon-find {
    background-image: url(../image/webapp/find_selected_icon_3x.png);
}

.icon-select {
    background-image: url(../image/webapp/chose_unselected_icon_1x.png);
}

[data-dpr="2"] .icon-select {
    background-image: url(../image/webapp/chose_unselected_icon_2x.png);
}

[data-dpr="3"] .icon-select,
[data-device="other"] .icon-select {
    background-image: url(../image/webapp/chose_unselected_icon_3x.png);
}

.selected > .icon-select {
    background-image: url(../image/webapp/chose_selected_icon_1x.png);
}

[data-dpr="2"] .selected > .icon-select {
    background-image: url(../image/webapp/chose_selected_icon_2x.png);
}

[data-dpr="3"] .selected > .icon-select,
[data-device="other"] .selected > .icon-select {
    background-image: url(../image/webapp/chose_selected_icon_3x.png);
}

.icon-comment {
    background-image: url(../image/webapp/comment_unselected_icon_1x.png);
}

[data-dpr="2"] .icon-comment {
    background-image: url(../image/webapp/comment_unselected_icon_2x.png);
}

[data-dpr="3"] .icon-comment,
[data-device="other"] .icon-comment {
    background-image: url(../image/webapp/comment_unselected_icon_3x.png);
}

.selected > .icon-comment {
    background-image: url(../image/webapp/comment_selected_icon_1x.png);
}

[data-dpr="2"] .selected > .icon-comment {
    background-image: url(../image/webapp/comment_selected_icon_2x.png);
}

[data-dpr="3"] .selected > .icon-comment,
[data-device="other"]  .selected > .icon-comment {
    background-image: url(../image/webapp/comment_selected_icon_3x.png);
}

.icon-write {
    background-image: url(../image/webapp/comment_1x.png);
}

[data-dpr="2"] .icon-write {
    background-image: url(../image/webapp/comment_2x.png);
}

[data-dpr="3"] .icon-write,
[data-device="other"] .icon-write {
    background-image: url(../image/webapp/comment_3x.png);
}

.icon-drop {
    background-image: url(../image/webapp/drop_unselected_icon_1x.png);
    transform: translateY(-1px);
}

[data-dpr="2"] .icon-drop {
    background-image: url(../image/webapp/drop_unselected_icon_2x.png);
}

[data-dpr="3"] .icon-drop,
[data-device="other"] .icon-drop {
    background-image: url(../image/webapp/drop_unselected_icon_3x.png);
}

.selected > .icon-drop {
    background-image: url(../image/webapp/drop_selected_icon_1x.png);
}

[data-dpr="2"] .selected > .icon-drop {
    background-image: url(../image/webapp/drop_selected_icon_2x.png);
}

[data-dpr="3"] .selected > .icon-drop,
[data-device="other"]  .selected > .icon-drop {
    background-image: url(../image/webapp/drop_selected_icon_3x.png);
}

.icon-back {
    background-image: url(../image/webapp/back_icon_1x.png);
}

[data-dpr="2"] .icon-back {
    background-image: url(../image/webapp/back_icon_2x.png);
}

[data-dpr="3"] .icon-back {
    background-image: url(../image/webapp/back_icon_3x.png);
}

[data-device="other"] .icon-back {
    background-image: url(../image/webapp/back_android_white.png);
}

.icon-back.icon-black {
    background-image: url(../image/webapp/back_android_black.png);
}

.icon-search {
    background-image: url(../image/webapp/search_icon_1x.png);
}

[data-dpr="2"] .icon-search {
    background-image: url(../image/webapp/search_icon_2x.png);
}

[data-dpr="3"] .icon-search,
[data-device="other"] .icon-search {
    background-image: url(../image/webapp/search_icon_3x.png);
}

.icon-search-input {
    background-image: url(../image/webapp/search_input_icon_1x.png);
}

[data-dpr="2"] .icon-search-input {
    background-image: url(../image/webapp/search_input_icon_2x.png);
}

[data-dpr="3"] .icon-search-input,
[data-device="other"] .icon-search-input {
    background-image: url(../image/webapp/search_input_icon_3x.png);
}

.icon-share {
    background-image: url(../image/webapp/share_icon_1x.png);
}

[data-dpr="2"] .icon-share {
    background-image: url(../image/webapp/share_icon_2x.png);
}

[data-dpr="3"] .icon-share {
    background-image: url(../image/webapp/share_icon_3x.png);
}

[data-device="other"] .icon-share.icon-black {
    background-image: url(../image/webapp/share_android_black.png);
}

.icon-heart {
    background-image: url(../image/webapp/heart_unselected_icon.png);
}

.selected > .icon-heart {
    background-image: url(../image/webapp/heart_selected_icon.png);
}

.icon-ok {
    background-image: url(../image/webapp/ok_unselected_icon.png);
}

.selected > .icon-ok {
    background-image: url(../image/webapp/ok_selected_icon.png);
}

.icon-selected {
    background-image: url(../image/webapp/selected_icon_1x.png);
}

[data-dpr="2"] .icon-selected {
    background-image: url(../image/webapp/selected_icon_2x.png);
}

[data-dpr="3"] .icon-selected,
[data-device="other"] .icon-selected {
    background-image: url(../image/webapp/selected_icon_1x.png);
}

.icon-close.icon-black {
    background-image: url(../image/webapp/close_android_black.png);
}

.icon-checkbox {
    background-image: url(../image/webapp/checkbox.png);
}

.selected > .icon-checkbox {
    background-image: url(../image/webapp/checkbox_selected.png);
}
