.grid-detail {
    background: url(../image/pc/grid_detail.png) scroll no-repeat;
}

.grid-detail.icon-heart,
.grid-detail.icon-add,
.grid-detail.icon-comment {
    width: 16px;
    height: 16px;
}

.grid-detail.icon-heart {
    background-position: 0 -60px;
}

.grid-detail.icon-add {
    background-position: 0 -40px;
}

.grid-detail.icon-comment {
    background-position: 0 -80px;
}

.grid-detail.icon-close {
    background-position: 0 0;
}

.grid-list {
    width: 15px;
    height: 15px;
    background: url(../image/pc/grid_list.png) scroll no-repeat;
}

.grid-list.icon-prev {
    background-position: 0 0;
}

.grid-list.icon-next {
    background-position: -20px 0;
}

.grid-student {
    background: url(../image/pc/grid_student.png) scroll;
}

.grid-student.profile-top {
    background-position: -180px 0;
}

.grid-student.profile-body {
    background-position: 0 0;
}

.grid-student.profile-bottom {
    background-position: -180px -160px;
}

.grid-student.public-elective {
    height: 41px;
    background-position: -460px 0;
}

.grid-student.professional {
    height: 41px;
    background: url(../image/pc/professional.png) scroll no-repeat center center;
}

.grid-student.source {
    height: 41px;
    background-position: -460px -50px;
}

.grid-student.triangle {
    width: 9px;
    height: 5px;
    background-position: -360px -100px;
    transform: translateY(-2px);
}

.grid-student.icon-select {
    width: 13px;
    height: 13px;
    background-position: -400px -160px;
}

.grid-student.icon-delete {
    width: 16px;
    height: 14px;
    background-position: -380px -80px;
}

.grid-student.icon-infinite {
    width: 17px;
    height: 9px;
    background-position: -380px -160px;
}

.grid-source {
    background: url(../image/pc/grid_source.png) scroll;
}

.grid-source.icon-back {
    width: 22px;
    height: 22px;
    background-position: -80px -80px;
}

.grid-common {
    background: url(../image/pc/grid_common.png) scroll;
}

.grid-common.icon-home {
    width: 20px;
    height: 20px;
    background-position: -340px -100px;
}

.grid-common.icon-user {
    width: 20px;
    height: 20px;
    background-position: -340px -120px;
}
