
html {
    font-size: 75px;
    font-family: "Hiragino Sans GB W3", "NotoSansCJKsc-Regular";
}

html, body {
    height: 100%;
}

/**
 * page styles
 */
.page-body {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
}

.page-field {
    padding-top: .4rem;
}

.field-title {
    padding: .2rem .466667rem;
    color: #3e3e3e;
    font-size: 11px;
    box-sizing: border-box;
}

[data-dpr="2"] .field-title {
    font-size: 22px;
}

[data-dpr="3"] .field-title {
    font-size: 33px;
}

[data-device="other"] .field-title {
    padding-left: .266667rem;
    font-size: 15px;
    color: #00838f;
    font-weight: 700;
}

.field-tip {
    padding: .2rem .466667rem;
    color: #000;
    font-size: 11px;
    text-align: center;
    box-sizing: border-box;
}

[data-dpr="2"] .field-tip {
    font-size: 22px;
}

[data-dpr="3"] .field-tip {
    font-size: 33px;
}

[data-device="other"] .field-tip {
    padding-left: .266667rem;
    font-size: 14px;
}

.field-body {
    padding: .2rem .4rem;
    background: #fff;
    border: 1px solid #c9c9c9;
    border-left: 0;
    border-right: 0;
}

/**
 * text color
 */
.text-primary {
    color: #35b6e9;
}

.text-danger {
    color: #ff0000;
}

.font-11 {
    font-size: 11px;
}

[data-dpr="2"] .font-11 {
    font-size: 22px;
}

[data-dpr="3"] .font-11 {
    font-size: 33px;
}

.font-17 {
    font-size: 17px;
}

[data-dpr="2"] .font-17 {
    font-size: 34px;
}

[data-dpr="3"] .font-17 {
    font-size: 51px;
}

.font-14 {
    font-size: 14px;
}

[data-dpr="2"] .font-14 {
    font-size: 28px;
}

[data-dpr="3"] .font-14 {
    font-size: 42px;
}
