<template>

    <a @click.stop.prevent
        @mouseUp.stop.prevent.capture="confirm($event)"
        href="javascript: void(0);">
        <span
            v-if="isWaiting"
            class="spinner">
        </span>
        <slot v-else></slot>
    </a>

</template>

<script>

    import Promise from "promise";

    export default {
        props: {
            before: {
                type: Function,
                default() {
                    return Promise.resolve(true);
                },
            },
            after: {
                type: Function,
                default: null,
            },
            work: {
                type: Function,
                default() {
                    return Promise.resolve();
                },
            },
        },
        data() {
            return {
                isWaiting: false,
            };
        },
        methods: {
            done() {
                this.isWaiting = false;
            },
            confirm() {
                if (this.isWaiting) {
                    return;
                }

                this.before().then((result) => {
                    if (!!result) {
                        this.isWaiting = true;
                        this.work()
                            .then(() => {
                                this.done();
                                if (this.after instanceof Function) {
                                    this.after();
                                }
                            })
                            .catch(this.done);
                    }
                });
            },
        },
    };

</script>

<style scoped>

    .spinner {
        width: 1em;
        height: 1em;
        background: url(../../../image/common/oval.svg) scroll no-repeat center center / contain;
        animation: spinner .5s infinite linear;
        display: inline-block;
    }

    @keyframes spinner {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

</style>
