<template>

    <div
        :class="[
            isLogInPage ? 'login' : 'general',
            isCoursePage ? 'course' : '',
        ]"
        class="container">
        <div class="wrapper">
            <header v-el:header>
                <div class="limit">
                    <a class="logo" v-link="{ path: '/' }">
                        <img src="../../../image/pc/logo.png">
                    </a>
                    <p v-if="isLogInPage"
                        class="link">
                        taoke.ziqiang.studio
                    </p>
                    <global-nav
                        v-if="!isLogInPage"
                        :has-logged-in="hasLoggedIn"
                        :log-out="logOutWrapper"
                        class="global-nav">
                    </global-nav>
                    <course-search
                        v-show="isCoursePublicElectivePage || isStudentPage"
                        :search="updateParamsWrapper"
                        :search-key="searchKey"
                        class="course-search">
                    </course-search>
                </div>
            </header>
            <div v-el:body class="body">
                <div class="limit">
                    <router-view keep-alive></router-view>
                    <feedback
                        v-if="!isLogInPage"
                        :save-feedback="saveFeedback"
                        clsas="feedback">
                    </feedback>
                </div>
                <div v-if="isLogInPage"
                    class="banner-bottom">
                </div>
            </div>
            <footer v-el:footer>
                <div class="limit">
                    <template v-if="isSourcePage">
                        <p>
                            资料分享 zq_education@sina.com
                        </p>
                        <p>
                            声明：本站所有课程资源均来自网络，如有涉及版权问题请与我们联系
                        </p>
                    </template>
                    <hr v-if="!isLogInPage">
                    <p>
                        copyright@2016
                        <a href="//www.ziqiang.studio">
                            ziqiang.studio
                        </a>
                    </p>
                    <p>
                        小强车间&nbsp;&nbsp;荣誉出品
                    </p>
                </div>
            </footer>
        </div>
        <popup v-ref:popup></popup>
        <prompt
            :prompt-list="promptList"
            :delete-prompt="deletePromptItem">
        </prompt>
    </div>

</template>

<script>

    import Popup from "module/pc/Popup";
    import Prompt from "module/pc/Prompt";
    import Feedback from "module/pc/Feedback";
    import GlobalNav from "module/pc/GlobalNav";
    import CourseSearch from "module/pc/CoursePublicElectiveSearch";

    import store from "store";
    import {
        popup,
        promptList,
        hasLoggedIn,
        hasShowedPopup,
        studentAccount,
        publicElectiveParams,
    } from "store/getter";
    import {
        logOut,
        showPopup,
        hidePopup,
        getPrompt,
        deletePromptItem,
        getLoginStatus,
        saveStudentFeedback as saveFeedback,
        updatePublicElectiveParams as updateParams,
    } from "store/action";

    import { message } from "config";

    export default {
        components: {
            Popup,
            Prompt,
            Feedback,
            GlobalNav,
            CourseSearch,
        },
        store: store.pc,
        vuex: {
            getters: {
                popup,
                promptList,
                hasLoggedIn,
                studentAccount,
                hasShowedPopup,
                publicElectiveParams,
            },
            actions: {
                logOut,
                showPopup,
                hidePopup,
                getPrompt,
                deletePromptItem,
                saveFeedback,
                updateParams,
                getLoginStatus,
            },
        },
        computed: {
            path() {
                return this.$route.path;
            },
            isLogInPage() {
                return (
                    this.path.startsWith("/login") ||
                    this.path.startsWith("/error")
                );
            },
            isStudentPage() {
                return this.path.startsWith("/student");
            },
            isCoursePage() {
                return this.path.startsWith("/course");
            },
            isCoursePublicElectivePage() {
                return this.path.startsWith("/course/public/elective");
            },
            isSourcePage() {
                return this.path.startsWith("/source");
            },
            searchKey() {
                const { searchKey } = this.publicElectiveParams;
                return ((typeof searchKey === "string") ? searchKey : "");
            },
        },
        watch: {
            hasLoggedIn(has) {
                if (typeof has === "boolean") {
                    this.getPrompt();
                }
            },
            hasShowedPopup(has) {
                if (has) {
                    const options = Object.assign({}, this.popup, {
                        cb: (result) => {
                            this.hidePopup();
                            if (this.popup.cb instanceof Function) {
                                return this.popup.cb(result);
                            }
                            return Promise.resolve(result);
                        },
                    });
                    this.$refs.popup.show(options);
                }
                else {
                    this.$refs.popup.hide(true);
                }
            },
        },
        methods: {
            logOutWrapper() {
                this.showPopup({
                    contents: "退出中...",
                    still: true,
                });

                this.logOut()
                    .then(() => {
                        this.hidePopup();
                        this.$route.router.go("/login");
                    })
                    .catch(error => {
                        this.hidePopup();
                        this.message = error.status ? error.status.message : message.error.unknown;
                    });
            },
            updateParamsWrapper(searchKey) {
                this.$router.go({
                    path: "/course/public/elective",
                    query: { searchKey },
                });
            },
        },
    };

</script>

<style scoped>

    .container {
        width: 100%;
        height: 100%;
        color: #5a4c40;
        background: url(../../../image/pc/background.png);
        font-family: "Microsoft Yahei", 微软雅黑, STHeiti, 黑体, "WenQuanYi Micro Hei";
        box-sizing: border-box;
        overflow-y: auto;
    }

    .container.general {
        min-width: 1080px;
    }

    .container.login {
        background: #151100;
        min-height: 100%;
    }

    .container.general header {
        height: 150px;
        background: #151100;
    }

    .container.general .wrapper {
        height: 100%;
    }

    .container.login .wrapper {
        width: 100%;
        left: 0;
        top: 50%;
        margin-top: -323px;
        position: absolute;
    }

    header .limit {
        height: 100%;
    }

    .container.general header .limit {
        width: 1080px;
        background: url(../../../image/pc/banner.png) scroll no-repeat center bottom / contain;
        box-sizing: border-box;
    }

    .container.login header {
        height: 225px;
        background: url(../../../image/pc/banner_top.png) scroll no-repeat center bottom / contain;
    }

    .container.login header .limit {
        top: 66px;
        width: 240px;
        height: 114px;
        background: transparent;
        text-align: center;
        text-transform: uppercase;
        position: relative;
    }

    .link {
        width: 100%;
        margin-top: 10px;
        background-color: #fff;
        border-radius: 5px;
        color: #6c5e5c;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 3px;
    }

    footer .limit {
        padding: 10px 0;
        text-align: center;
        color: #6f6f6f;
        font-size: 12px;
        line-height: 1.8;
    }

    .body {
        padding: 25px 0;
        position: relative;
    }

    .banner-bottom {
        bottom: -50px;
        width: 459px;
        height: 86px;
        margin: 0 auto;
        background: url(../../../image/pc/banner_bottom.png) scroll no-repeat center center;
        position: relative;
    }

    .container.login .body {
        background: url(../../../image/pc/background.png);
    }

    .limit {
        width: 900px;
        margin: 0 auto;
        position: relative;
    }

    .container.course .limit {
        width:  970px;
    }

    .container.general .logo {
        top: 35.5px;
        left: 80px;
        width: 233px;
        height: 73px;
        position: relative;
    }

    .global-nav {
        top: 6px;
        right: 20px;
        position: absolute;
    }

    .course-search {
        right: 20px;
        bottom: 10px;
        position: absolute;
    }

</style>
