<template>

    <div class="clearfix">
        <field
            title="蹭课"
            class="body">
            <course-table
                :pagination="pagination"
                :course-list="courseList"
                :is-loading="isLoading"
                :load-courses="updatePaginationWrapper">
            </course-table>
        </field>
        <div class="sidebar">
            <course-filter
                :department="department"
                :params="params"
                :update-filter="updateParamsWrapper">
            </course-filter>
        </div>
    </div>

</template>

<script>

    import Field from "module/pc/Field";
    import CourseTable from "module/pc/CourseProfessionalTable";
    import CourseFilter from "module/pc/CourseProfessionalFilter";

    import {
        professionalParams as params,
        professionalPagination as pagination,
        professionalCurrentCourseList as courseList,
        department,
    } from "store/getter";
    import {
        updateProfessionalPagination as updatePagination,
        updateProfessionalParams as updateParams,
        getDepartment,
    } from "store/action";

    import Promise from "promise";

    export default {
        components: {
            Field,
            CourseTable,
            CourseFilter,
        },
        data() {
            return {
                isLoading: false,
            };
        },
        vuex: {
            getters: {
                params,
                pagination,
                courseList,
                department,
            },
            actions: {
                updateParams,
                updatePagination,
                getDepartment,
            },
        },
        methods: {
            startLoading(promise) {
                if (promise && promise.then) {
                    this.isLoading = true;
                    promise.then(
                        this.endLoading,
                        this.endLoading
                    );
                }
            },
            endLoading() {
                this.isLoading = false;
            },
            updateParamsWrapper(...args) {
                return this.startLoading(
                    this.updateParams(...args)
                );
            },
            updatePaginationWrapper(...args) {
                return this.startLoading(
                    this.updatePagination(...args)
                );
            },
        },
        route: {
            data() {
                return Promise.all([
                    this.updatePaginationWrapper(1),
                    this.getDepartment(),
                ]);
            },
        },
        ready() {
        },
    };

</script>

<style scoped>

    .body {
        float: left;
        width: 720px;
        font-size: 20px;
    }

    .sidebar {
        float: right;
        width: 200px;
        font-size: 20px;
    }

    .field {
        font-size: 16px;
    }

</style>
