<template>

    <div class="clearfix">
        <field
            title="淘课"
            class="body">
            <course-table
                :pagination="pagination"
                :course-list="courseList"
                :is-loading="isLoading"
                :load-courses="updatePagination"
                :save-collected="saveCollected"
                :save-selecting="saveSelecting"
                :show-popup="showPopup">
            </course-table>
        </field>
        <div class="sidebar">
            <course-filter
                :current-filter="params"
                :update-filter="updateParamsWrapper">
            </course-filter>
            <leader-board
                :leader-board="leaderBoard">
            </leader-board>
        </div>
    </div>

</template>

<script>

    import Field from "module/pc/Field";
    import CourseTable from "module/pc/CoursePublicElectiveTable";
    import LeaderBoard from "module/pc/LeaderBoard";
    import CourseFilter from "module/pc/CoursePublicElectiveFilter";

    import {
        publicElectiveIsLoading as isLoading,
        publicElectiveParams as params,
        publicElectivePagination as pagination,
        publicElectiveCurrentCourseList as courseList,
        publicElectiveLeaderBoard as leaderBoard,
    } from "store/getter";
    import {
        showPopup,
        getPublicElective as getCourse,
        getPublicElectiveLeaderBoard as getLeaderBoard,
        updatePublicElectiveParams as updateParams,
        updatePublicElectivePagination as updatePagination,
        saveStudentCollectedItem as saveCollected,
        saveStudentSelectingItem as saveSelecting,
    } from "store/action";

    import Promise from "promise";

    export default {
        components: {
            Field,
            CourseTable,
            CourseFilter,
            LeaderBoard,
        },
        vuex: {
            getters: {
                isLoading,
                params,
                pagination,
                courseList,
                leaderBoard,
            },
            actions: {
                showPopup,
                getCourse,
                updateParams,
                updatePagination,
                saveCollected,
                saveSelecting,
                getLeaderBoard,
            },
        },
        route: {
            data({ to }) {
                const { page } = this.pagination;
                const { query } = to;
                [ "weekday", "department", "credit" ].forEach(key => {
                    if (query[key] instanceof Array) {
                        query[key] = query[key].map(str => Number(str));
                    }
                });
                return Promise.all([
                    this.getCourse({ params: query, page: (page || 1) }),
                    this.getLeaderBoard(),
                ]);
            },
        },
        methods: {
            updateParamsWrapper(params) {
                const { router, name } = this.$route;
                router.go({
                    name,
                    query: params,
                });
            },
        },
    };

</script>

<style scoped>

    .body {
        float: left;
        width: 720px;
        font-size: 20px;
    }

    .sidebar {
        float: right;
        width: 200px;
        font-size: 20px;
    }

</style>
