<template>

    <field class="course-detail">
        <div class="title">
            <span v-el:course-name>
                {{ course.name }}
            </span>
            <div class="tag">
                <img
                    class="float-left"
                    src="../../../image/pc/tag_left.png">
                <img v-for="i in tagMidLen"
                    class="float-left"
                    src="../../../image/pc/tag_mid.png">
                <img
                    class="float-left"
                    src="../../../image/pc/tag_right.png">
            </div>
        </div>
        <p slot="title">
            <a v-link="{ path: '/course/public/elective' }">
                淘课
            </a>
            >> 课程介绍
        </p>
        <div class="body">
            <div class="top clearfix">
                <course-info
                    class="course-info"
                    :course="course">
                </course-info>
                <div class="course-chart-operation">
                    <course-chart
                        :course="course">
                    </course-chart>
                    <course-operation
                        :course="course"
                        :profile="studentProfile"
                        :save-collected="saveCollected"
                        :delete-collected="deleteCollected"
                        :save-selecting="saveSelecting"
                        :delete-uncomment="deleteUncomment"
                        :show-popup="showPopup"
                        :show-comment.sync="showCommentPopup">
                    </course-operation>
                </div>
            </div>
            <div class="clearfix">
                <div class="course-summary-comment">
                    <course-summary
                        :course="course"
                        class="course-summary">
                    </course-summary>
                    <course-comment
                        :pagination="commentPagination"
                        :comment-list="commentList"
                        :get-comment="updateCourseCommentWrapper">
                    </course-comment>
                </div>
                <course-student
                    :pagination="studentPagination"
                    :student-list="studentList"
                    :get-student="updateCourseStudentWrapper"
                    class="course-student">
                </course-student>
            </div>
        </div>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import CourseInfo from "module/pc/CoursePublicElectiveInfo";
    import CourseChart from "module/pc/CoursePublicElectiveChart";
    import CourseComment from "module/pc/CoursePublicElectiveComment";
    import CourseStudent from "module/pc/CoursePublicElectiveStudent";
    import CourseSummary from "module/pc/CoursePublicElectiveSummary";
    import CourseOperation from "module/pc/CoursePublicElectiveOperation";

    import {
        studentProfile,
        publicElectiveAll as courseList,
        // publicElectiveStudentList as studentList,
        publicElectiveStudentPagination as studentPagination,
        // publicElectiveCommentList as commentList,
        publicElectiveCommentPagination as commentPagination,
    } from "store/getter";
    import {
        showPopup,
        getStudentProfile,
        getPublicElectiveItem as getCourse,
        updatePublicElectiveItemStudentPagination as updateCourseStudent,
        updatePublicElectiveItemCommentPagination as updateCourseComment,
        saveStudentCollectedItem as saveCollected,
        deleteStudentCollectedItem as deleteCollected,
        saveStudentSelectingItem as saveSelecting,
        deleteStudentUncommentItem as deleteUncomment,
    } from "store/action";

    export default {
        components: {
            Field,
            CourseInfo,
            CourseChart,
            CourseComment,
            CourseStudent,
            CourseSummary,
            CourseOperation,
        },
        data() {
            return {
                number: 0,
                tagMidLen: 0,
                showCommentPopup() {},
            };
        },
        vuex: {
            getters: {
                courseList,
                studentProfile,
                // studentList,
                studentPagination,
                // commentList,
                commentPagination,

                students(state) {
                    return state.publicElective.students.all;
                },

                comments(state) {
                    return state.publicElective.comments.all;
                },
            },
            actions: {
                showPopup,
                getStudentProfile,
                getCourse,
                updateCourseStudent,
                updateCourseComment,
                saveCollected,
                deleteCollected,
                saveSelecting,
                deleteUncomment,
            },
        },
        computed: {
            course() {
                return (this.courseList[this.number] || {});
            },
            studentList() {
                const { list = [], pagination = {} } = this.students[this.number] || {};
                const { page = 0 } = pagination;
                return (list[page] || []);
            },
            commentList() {
                const { list = [], pagination = {} } = this.comments[this.number] || {};
                const { page = 0 } = pagination;
                return (list[page] || []);
            },
        },
        watch: {
            "course.name"() {
                const el = this.$els.courseName;
                if (!!el.offsetWidth) {
                    this.tagMidLen = Math.ceil((el.offsetWidth - 200) / 6);
                }
            },
        },
        route: {
            data({ to }) {
                this.number = Number(to.params.number);
                if (!!to.query.comment) {
                    window.setTimeout(() => this.showCommentPopup(), 1000);
                }
                return Promise.all([
                    this.getCourse(this.number),
                    this.updateCourseComment(this.number, 1),
                    this.updateCourseStudent(this.number, 1),
                ]);
            },
        },
        methods: {
            updateCourseStudentWrapper(page) {
                return this.updateCourseStudent(this.number, page);
            },
            updateCourseCommentWrapper(page) {
                return this.updateCourseComment(this.number, page);
            },
        },
        ready() {
            this.getStudentProfile();
        },
    };

</script>

<style scoped>

    .course-detail {
        font-size: 22px;
    }

    .title {
        padding-left: 10px;
        margin-bottom: 9px;
        height: 48px;
        color: white;
        font-size: 22px;
        line-height: 40px;
        position: relative;
    }

    .title > span {
        min-width: 235px;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
    }

    .tag {
        left: 0;
        top: 0;
        position: absolute;
    }

    .body {
        font-size: 16px;
    }

    .top {
        margin-bottom: 20px;
    }

    .course-info {
        float: left;
        width: 360px;
    }

    .course-chart-operation {
        float: right;
        width: 540px;
        height: 280px;
    }

    .course-student {
        float: right;
        width: 210px;
    }

    .course-summary-comment {
        float: left;
        width: 650px;
        padding-right: 20px;
    }

    .course-summary {
        margin-bottom: 25px;
    }

</style>
