<template>

    <field
        title="公共资源"
        class="clearfix">
        <div class="wrapper">
            <div class="side">
                <source-accordion
                    :categories="sourceCategories"
                    :params="sourceParams"
                    :update-category="updateParams">
                </source-accordion>
            </div>
            <div class="body">
                <source-list
                    :pagination="sourcePagination"
                    :params="sourceParams"
                    :source-list="sourceList"
                    :get-source-item="getSourceItem"
                    :load-sources="updatePagination">
                </source-list>
            </div>
        </div>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import SourceList from "module/pc/SourceList";
    import SourceAccordion from "module/pc/SourceAccordion";

    import {
        source as sourceCategories,
        sourceParams,
        sourceCategoryPagination as sourcePagination,
        sourceCategoryList as sourceList,
    } from "store/getter";
    import {
        getSource as getCategories,
        getSourceCategoryItem as getSourceItem,
        updateSourceCategoryParams as updateParams,
        updateSourceCategoryPagination as updatePagination,
    } from "store/action";

    export default {
        components: {
            Field,
            SourceList,
            SourceAccordion,
        },
        vuex: {
            getters: {
                sourceCategories,
                sourceParams,
                sourcePagination,
                sourceList,
            },
            actions: {
                getCategories,
                getSourceItem,
                updateParams,
                updatePagination,
            },
        },
        route: {
            data() {
                return this.getCategories();
            },
        },
    };

</script>

<style scoped>

    .wrapper {
        margin-top: 40px;
    }

    .side {
        float: left;
        width: 105px;
    }

    .body {
        margin-left: 160px;
    }

    .nav {
        margin-top: 100px;
    }

    .nav-item-link,
    .nav-item-link:hover {
        color: #f6935b;
        font-size: 18px;
        letter-spacing: 0.1em;
    }

    .icon-back {
        float: left;
        margin-right: 0.2em;
    }

</style>
