<template>

    <student-uncomment
        :uncomment="studentUncomment">
    </student-uncomment>
    <field title="我的课表">
        <loading
            v-ref:loading>
            <div class="curriculum">
                <ul class="weekday-list">
                    <li v-for="weekday in weekdays"
                        track-by="$index"
                        :class="[
                            (active.weekday === ($index + 1)) ?
                            'active' :
                            ''
                        ]"
                        class="weekday">
                        {{ weekday }}
                    </li>
                </ul>
                <ul class="time-list">
                    <li v-for="time in times"
                        track-by="$index"
                        :class="[
                            (
                                (time >= active.classBegin) &&
                                (time <= active.classOver)
                            ) ?
                            'active' :
                            ''
                        ]"
                        class="time">
                        {{ time }}
                    </li>
                </ul>
                <div class="course-table">
                    <div class="separator">
                        <ul class="separator-noon">
                            <li v-for="i in weekdays"
                                class="separator-item">
                            </li>
                        </ul>
                        <ul class="separator-dusk">
                            <li v-for="i in weekdays"
                                class="separator-item">
                            </li>
                        </ul>
                    </div>
                    <div v-for="course in list"
                        @mouseOver="hover($index)"
                        @mouseOut="blur"
                        :style="course.style"
                        :class="[
                            course.isPublicElective ? 'public-elective' : '',
                            (active === course) ? 'active' : '',
                        ]"
                        class="course">
                        <a v-if="course.isPublicElective"
                            v-link="{ path: course.path }"
                            class="course-hover">
                            点击进入
                            <br>
                            课程信息页
                        </a>
                        <p class="course-text">
                            {{ course.name }}
                            <br>
                            {{ course.location }}
                        </p>
                    </div>
                    <div v-for="course in publicElectiveList"
                        :style="course.style"
                        class="course redirect">
                        <a v-link="{ path: course.path, query: course.query }"
                            class="course-text">
                            点击查看此时段选修课
                        </a>
                    </div>
                </div>
            </div>
        </loading>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import Loading from "module/pc/Loading";
    import StudentUncomment from "module/pc/StudentUncomment";

    import {
        studentUncomment,
        studentCurriculum,
    } from "store/getter";
    import {
        getStudentUncomment,
        getStudentCurriculum,
    } from "store/action";

    export default {
        components: {
            Field,
            Loading,
            StudentUncomment,
        },
        data() {
            return {
                isLoading: false,
                active: {
                    weekday: null,
                    time: null,
                },
                weekdays: [
                    "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun",
                ],
                times: [
                    1, 2, 3, 4, 5, "",
                    6, 7, 8, 9, 10, "",
                    11, 12, 13,
                ],
                bkgColorList: [
                    "#68bbe3",
                    "#f75f46",
                    "#8cbf26",
                    "#00aba9",
                    "#fad81d",
                    "#064df0",
                    "#1fe99f",
                    "#fda7a7",
                    "#c76ae2",
                    "#945a3b",
                    "#b28850",
                    "#59c3ee",
                    "#a9ee59",
                    "#f19149",
                ],
                blocks: {
                    morning: [ 1, 5 ],
                    afternoon: [ 6, 10 ],
                    evening: [ 11, 13 ],
                },
            };
        },
        vuex: {
            getters: {
                studentUncomment,
                studentCurriculum,
            },
            actions: {
                getStudentUncomment,
                getStudentCurriculum,
            },
        },
        computed: {
            list() {
                return this.studentCurriculum
                    .reduce(
                        (prev, course) => {
                            const { time } = course;
                            if (time instanceof Array) {
                                const list = time.map(
                                    item => Object.assign(
                                        {},
                                        course,
                                        item
                                    )
                                );
                                prev.push(...list);
                            }
                            return prev;
                        },
                        []
                    )
                    .filter(course => {
                        const {
                            classBegin,
                            classOver,
                            weekday,
                        } = course;
                        return (
                            this.isValidTime(classBegin, classOver) &&
                            this.isValidWeekday(weekday)
                        );
                    })
                    .map((course, index) => Object.assign(course, {
                        path: `/course/public/elective/${course.number}`,
                        style: this.computeStyle(course, index),
                    }));
            },
            publicElectiveList() {
                const list = [];
                for (let i = 1; i <= 5; i++) {
                    list.push({
                        weekday: i,
                        classTime: "evening",
                        classBegin: this.blocks.evening[0],
                        classOver: this.blocks.evening[1],
                    });
                }
                for (let i = 6; i <= 7; i++) {
                    Object.keys(this.blocks).forEach(key => list.push({
                        weekday: i,
                        classTime: key,
                        classBegin: this.blocks[key][0],
                        classOver: this.blocks[key][1],
                    }));
                }
                return list.map(
                    course => {
                        const { weekday, classTime } = course;
                        const path = "/course/public/elective";
                        // ?weekday=${weekday}&classTime=${classTime}
                        const query = { weekday: [ weekday ], classTime };
                        const style = this.computeStyle(course);
                        return Object.assign(
                            course,
                            { path, query, style }
                        );
                    }
                );
            },
        },
        methods: {
            startLoading(promise) {
                if (promise && promise.then) {
                    this.isLoading = true;
                    setTimeout(this.endLoading, 20000);
                    // promise.then(
                    //     this.endLoading,
                    //     this.endLoading
                    // );
                }
            },
            endLoading() {
                this.isLoading = false;
            },
            getBkgColor(index = -1) {
                return (
                    (index > -1) ?
                    this.bkgColorList[index % this.bkgColorList.length] :
                    "#888"
                );
            },
            computeStyle(course, index) {
                return {
                    backgroundColor: this.getBkgColor(index),
                    top: this.getCourseTop(course.classBegin) + "px",
                    height: (
                        this.getCourseHeight(
                            course.classBegin,
                            course.classOver
                        ) + "px"
                    ),
                    left: ((course.weekday - 1) * 102) + "px",
                };
            },
            getCourseTop(time) {
                return ((time + ~~((time - 1) / 5) - 1) * 33);
            },
            getCourseHeight(begin, over) {
                return (
                    this.getCourseTop(over) -
                    this.getCourseTop(begin) + 25
                );
            },
            isValidTime(...list) {
                return list.every(
                    time => /(^[1-9]|1[0-3]$)/.test(time.toString())
                );
            },
            isValidWeekday(weekday) {
                return /^[1-7]$/.test(weekday.toString());
            },
            hover(index) {
                this.active = this.list[index];
            },
            blur() {
                this.active = {};
            },
        },
        ready() {
            this.$refs.loading.startLoading({
                contents: [ "努力和教务系统沟通中，客官稍等片刻~" ],
                promise: this.getStudentCurriculum(),
            });
        },
    };

</script>

<style scoped>

    .curriculum {
        height: 550px;
        position: relative;
    }

    .weekday-list {
        left: 20px;
        top: 0;
        position: absolute;
    }

    .weekday {
        float: left;
        width: 76px;
        height: 16px;
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        background-color: #767676;
    }

    .weekday:not(:first-child) {
        margin-left: 26px;
    }

    .weekday.active {
        background-color: #333;
    }

    .time-list {
        left: 0;
        top: 24px;
        position: absolute;
    }

    .time {
        width: 16px;
        height: 25px;
        color: #b7b7b7;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
    }

    .time:not(:first-child) {
        margin-top: 8px;
    }

    .time.active {
        color: #d87f38;
    }

    .course-table {
        left: 20px;
        top: 24px;
        width: 100%;
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        position: absolute;
    }

    .separator-noon {
        left: 0;
        top: 165px;
        position: absolute;
    }

    .separator-dusk {
        left: 0;
        top: 363px;
        position: absolute;
    }

    .separator-item {
        float: left;
        width: 76px;
        margin: 12px 0;
        border-bottom: 1px solid #b7b7b7;
    }

    .separator-item:not(:first-child) {
        margin-left: 26px;
    }

    .course {
        width: 76px;
        position: absolute;
        display: table;
        z-index: 2;
    }

    .course.redirect {
        opacity: 0;
        z-index: 1;
    }

    .course.redirect:hover {
        opacity: 1;
        z-index: 3;
    }

    .course-hover,
    .course-text {
        padding: 2px 7px;
        color: inherit;
        vertical-align: middle;
        display: table-cell;
    }

    .course-hover {
        display: none;
    }

    .course-text {
        cursor: default;
    }

    .course.redirect .course-text {
        cursor: pointer;
    }

    .public-elective.active .course-hover {
        display: table-cell;
    }

    .public-elective.active .course-text {
        display: none;
    }

</style>
