<template>

    <div class="clearfix">
        <div class="sidebar">
            <student-profile
                :profile="studentProfile"
                :update-avatar="updateStudentAvatar"
                :save-avatar="saveStudentAvatar">
                <ul slot="nav">
                    <li v-for="item in nav">
                        <a v-link="{ path: item.path }"
                            class="nav-item grid-student">
                            {{ item.label }}
                        </a>
                    </li>
                    <li>
                        <a href="//market.ziqiang.studio"
                           class="nav-item grid-student">
                            毕业集市
                        </a>
                    </li>
                </ul>
            </student-profile>
            <ul class="side-nav">
                <li v-for="item in sideNav">
                    <a v-link="{ path: item.path }"
                        :class="item.class"
                        class="side-nav-item">
                        {{ item.label }}
                    </a>
                </li>
            </ul>
            <selected-credit
                v-if="studentSelected.length > 0"
                :selected-credit="studentSelected">
            </selected-credit>
        </div>
        <div class="body">
            <router-view keep-alive></router-view>
        </div>
    </div>

</template>

<script>

    import SelectedCredit from "module/pc/CoursePublicElectiveSelectedCredit";
    import StudentProfile from "module/pc/StudentProfile";

    import {
        studentProfile,
        studentSelected,
    } from "store/getter";
    import {
        getStudentProfile,
        getStudentSelected,
        getStudentUncomment,
        updateStudentAvatar,
        saveStudentAvatar,
    } from "store/action";

    export default {
        components: {
            SelectedCredit,
            StudentProfile,
        },
        data() {
            return {
                nav: [
                    {
                        label: "我的课表",
                        path: "/student/curriculum",
                    },
                    {
                        label: "我收藏的公选课",
                        path: "/student/collected",
                    },
                    // {
                    //     label: "我推荐的专业课",
                    //     path: "/student/professional",
                    // },
                    {
                        label: "今日选课列表",
                        path: "/student/selecting",
                    },
                ],
                sideNav: [
                    {
                        class: "grid-student public-elective",
                        path: "/course/public/elective",
                    },
                    // {
                    //     class: "grid-student professional",
                    //     path: "/course/professional",
                    // },
                    {
                        class: "grid-student source",
                        path: "/source",
                        // label: "公共资源",
                    },
                ],
            };
        },
        vuex: {
            getters: {
                studentProfile,
                studentSelected,
            },
            actions: {
                getStudentProfile,
                getStudentSelected,
                getStudentUncomment,
                updateStudentAvatar,
                saveStudentAvatar,
            },
        },
        route: {
            data() {
                return Promise.all([
                    this.getStudentProfile(),
                    this.getStudentSelected(),
                    this.getStudentUncomment(),
                ]);
            },
        },
    };

</script>

<style scoped>

    .sidebar {
        float: left;
        width: 150px;
    }

    .body {
        margin-left: 176px;
    }

    .nav-item {
        height: 20px;
        margin: 5px 0;
        margin-left: 3px;
        padding-left: 21px;
        color: #222;
        font-size: 12px;
        background-position: -670px -204px;
        line-height: 20px;
        text-shadow: 1px 1px #fff;
        display: block;
    }

    .nav-item.selected {
        color: #fff;
        opacity: 1;
        text-shadow: -1px -1px #b35000;
        background-position: -180px -180px;
        cursor: default;
    }

    .side-nav {
        margin: 15px 0;
    }

    .side-nav-item {
        height: 41px;
        margin: 9px 0;
        padding-left: 10px;
        color: #ff7200;
        text-align: center;
        line-height: 41px;
        letter-spacing: 10px;
        display: block;
    }

    /* .side-nav-item.source {
        background: url(../../../image/pc/dot_s.png) scroll no-repeat -4px 0 / 106% 104%;
    } */

</style>
