<template>

    <student-uncomment
        :uncomment="studentUncomment">
    </student-uncomment>
    <field title="今日选课列表">
        <loading
            v-ref:loading>
            <template
                v-if="!notInSeason">
                <template
                    v-if="!isEmpty">
                    <course-list
                        :list="studentSelecting"
                        :delete-selecting="deleteSelecting"
                        :update-selecting="updateSelecting">
                    </course-list>
                </template>
                <p v-else
                    class="hint">
                    你今天还没选课哟，快去选课吧~!(๑•̀ㅂ•́)و
                </p>
            </template>
            <img
                v-else
                src="../../../image/pc/not_in_selecting_season.png">
        </loading>
    </field>
    <student-circulating
        :sms="studentSms"
        :update-sms="updateStudentSms"
        :circulating="studentCirculating"
        :update-selecting="updateSelecting">
    </student-circulating>
    <selecting-failed
        :failed="studentSelectingFailed">
    </selecting-failed>
    <popup
        v-ref:popup>
        <h3 class="popup-title">
            无限选课
        </h3>
        <div class="popup-content">
            <p>
                已成功使用无限选课，淘课啦将每天自动帮你将该门课程提交，直到选上。注意在你的课表中及时查看，避免遗忘哦~
            </p>
        </div>
        <div class="popup-operation">
            <button
                @click="hidePopup"
                class="btn bg-green">
                确认
            </button>
        </div>
    </popup>

</template>

<script>

    import Field from "module/pc/Field";
    import Popup from "module/pc/Popup";
    import Loading from "module/pc/Loading";
    import CourseList from "module/pc/StudentSelectingCourseList";
    import CourseField from "module/pc/CoursePublicElectiveField";
    import SelectingFailed from "module/pc/StudentSelectingFailed";
    import StudentCirculating from "module/pc/StudentCirculating";
    import StudentUncomment from "module/pc/StudentUncomment";

    import {
        studentSms,
        studentUncomment,
        studentSelecting,
        studentCirculating,
        studentSelectingFailed,
    } from "store/getter";
    import {
        getStudentSms,
        updateStudentSms,
        getStudentUncomment,
        getStudentSelecting,
        deleteStudentSelectingItem as deleteSelecting,
        updateStudentSelectingItem as updateSelecting,
    } from "store/action";

    import { code } from "config";

    export default {
        components: {
            Field,
            Popup,
            Loading,
            CourseList,
            CourseField,
            SelectingFailed,
            StudentCirculating,
            StudentUncomment,
        },
        data() {
            return {
                notInSeason: false,
                hasShowedPopup: false,
            };
        },
        vuex: {
            getters: {
                studentSms,
                studentUncomment,
                studentSelecting,
                studentCirculating,
                studentSelectingFailed,
            },
            actions: {
                getStudentSms,
                updateStudentSms,
                getStudentUncomment,
                getStudentSelecting,
                deleteSelecting,
                updateSelecting,
            },
        },
        computed: {
            isEmpty() {
                return !this.studentSelecting.length;
            },
        },
        methods: {
            getSelecting() {
                return this.getStudentSelecting()
                    .catch(error => {
                        const _code = (
                            error &&
                            error.status &&
                            error.status.code
                        );
                        if (_code === code.publicElective.NOT_IN_SELECTING_SEASON) {
                            this.notInSeason = true;
                        }
                        throw error;
                    });
            },
            showPopup() {
                if (!this.hasShowedPopup) {
                    this.hasShowedPopup = true;
                    this.$refs.popup.show();
                }
            },
            hidePopup() {
                this.$refs.popup.hide();
            },
        },
        ready() {
            this.$refs.loading.startLoading({
                contents: [ "努力和教务系统沟通中，客官稍等片刻~" ],
                promise: Promise.all([ this.getSelecting(), this.getStudentSms() ]),
            });
        },
    };

</script>

<style scoped>

    .hint {
        line-height: 1.6;
    }

    .popup-title {
        margin: 0;
        margin-bottom: .5em;
        font-weight: 600;
    }

    .popup-content {
        margin: 15px 0;
        line-height: 1.6;
    }

    .popup-content > p {
        text-indent: 20px;
    }

    .popup-operation {
        text-align: right;
    }

</style>
