<template>

    <recommended
        :recommended="studentProfessionalRecommended"
        :delete-recommended="deleteRecommended">
    </recommended>
    <field title="我上过的专业课">
        <loading
            v-ref:loading>
            <ul v-if="grades.length > 0"
                class="list clearfix">
                <li v-for="grade in grades"
                    class="list-item">
                    <h3 class="title">
                        {{ grade }}
                    </h3>
                    <ul class="list-sub clearfix">
                        <li v-for="course in studentProfessional[grade]"
                            class="list-sub-item">
                            <p v-if="hasRecommended(course)"
                                class="list-sub-item-hover">
                                已推荐过
                            </p>
                            <loading-btn
                                v-else
                                :work="saveRecommendedWrapper(course)"
                                class="list-sub-item-hover active">
                                点击推荐课程
                            </loading-btn>
                            <p class="course-name">
                                {{ course.name }}
                            </p>
                            <p class="course-teacher">
                                {{ course.teacher }}
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
            <p v-else>
                喵，你还没有上过的专业课哦
            </p>
        </loading>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import Loading from "module/pc/Loading";
    import LoadingBtn from "module/common/LoadingBtn";
    import Recommended from "module/pc/ProfessionalRecommended";

    import {
        studentProfessional,
        studentProfessionalRecommended,
    } from "store/getter";
    import {
        getStudentProfessional,
        getStudentProfessionalRecommended,
        saveStudentProfessionalRecommendedItem as saveRecommended,
        deleteStudentProfessionalRecommendedItem as deleteRecommended,
    } from "store/action";

    import Promise from "promise";

    export default {
        components: {
            Field,
            Loading,
            LoadingBtn,
            Recommended,
        },
        data() {
            return {
                digits: [ "五", "四", "三", "二", "一" ],
            };
        },
        vuex: {
            getters: {
                studentProfessional,
                studentProfessionalRecommended,
            },
            actions: {
                getStudentProfessional,
                getStudentProfessionalRecommended,
                saveRecommended,
                deleteRecommended,
            },
        },
        computed: {
            grades() {
                return this.digits.map(key => `大${key}`)
                    .filter(grade => !!this.studentProfessional[grade]);
            },
            list() {
                const ret = {};
                this.studentProfessional.forEach(course => {
                    const grade = course.grade;
                    if (!ret[grade]) {
                        ret[grade] = [];
                    }

                    ret[grade].push(course);
                });
                return ret;
            },
        },
        methods: {
            hasRecommended({ number }) {
                return this.studentProfessionalRecommended.some(
                    course => (course.number === number)
                );
            },
            saveRecommendedWrapper(course) {
                return () => this.saveRecommended(course);
            },
            loadData() {
                return Promise.all([
                    this.$refs.loading.startLoading({
                        contents: [ "努力和教务系统沟通中，客官稍等片刻~" ],
                        promise: this.getStudentProfessional(),
                    }),
                    this.getStudentProfessionalRecommended(),
                ]);
            },
        },
        route: {
            data() {
                return this.loadData();
            },
        },
    };

</script>

<style scoped>

    .title {
        margin: 0;
        margin-bottom: 5px;
        font-weight: 500;
    }

    .list-item {
        float: left;
        width: 100%;
    }

    .list-sub-item {
        float: left;
        width: 15%;
        height: 63px;
        padding: 3px 5px;
        margin-right: 1%;
        margin-bottom: 15px;
        color: #3f4040;
        font-size: 14px;
        background-color: #E0DED9;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
    }

    .list-sub-item-hover,
    .list-sub-item-hover:hover {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 63px;
        opacity: 1;
        color: inherit;
        background: #93d58e;
        text-align: center;
        user-select: none;
        cursor: default;
        position: absolute;
        display: none;
        z-index: 10;
    }

    .list-sub-item:hover .list-sub-item-hover {
        display: block;
    }

    .list-sub-item-hover.active {
        cursor: pointer;
    }

    .list-sub-item-hover.active:active {
        background: #b8e3b5;
    }

    .course-name {
        height: 38px;
        color: #3f4040;
        overflow: hidden;
    }

    .course-teacher {
        bottom: 0;
        color: #929292;
        position: relative;
    }

</style>
