<template>

    <student-uncomment
        :uncomment="studentUncomment">
    </student-uncomment>
    <field
        title="我收藏的选修课"
        class="student-collected">
        <loading
            v-ref:loading>
            <template
                v-if="list.length > 0">
                <p class="collected-count">
                    已收藏课程：{{ list.length }}
                </p>
                <ul class="list clearfix">
                    <li v-for="sub in classifiedList"
                        track-by="$index"
                        class="list-item">
                        <template
                            v-if="sub && (sub.length > 0)">
                            <p class="weekday-tag">
                                {{ weekdayMap[$index] }}
                            </p>
                            <ul class="clearfix">
                                <li v-for="course in sub"
                                    track-by="number"
                                    class="list-sub-item">
                                    <course-field
                                        :field="course.field">
                                    </course-field>
                                    <div class="course-detail">
                                        <h3 class="course-name">
                                            <a v-link="{ path: course.path }">
                                                {{ course.name }}
                                            </a>
                                        </h3>
                                        <p>{{ course.credit }}</p>
                                        <p>{{ course.time }}</p>
                                        <p>{{ course.location }}</p>
                                    </div>
                                    <div class="operation">
                                        <loading-btn
                                            :work="saveSelectingWrapper(course)"
                                            class="operation-select">
                                            <span class="grid-student icon-select"></span>
                                            选课
                                        </loading-btn>
                                        <loading-btn
                                            :work="deleteCollectedWrapper(course)"
                                            class="operation-delete">
                                            <span class="grid-student icon-delete"></span>
                                            删除
                                        </loading-btn>
                                    </div>
                                </li>
                            </ul>
                        </template>
                    </li>
                </ul>
            </template>
            <img
                v-else
                src="../../../image/pc/empty_collection_hint.png">
        </loading>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import Loading from "module/pc/Loading";
    import LoadingBtn from "module/common/LoadingBtn";
    import CourseField from "module/pc/CoursePublicElectiveField";
    import StudentUncomment from "module/pc/StudentUncomment";

    import {
        studentUncomment,
        studentCollected,
    } from "store/getter";
    import {
        showPopup,
        getStudentCollected,
        deleteStudentCollectedItem as deleteCollected,
        saveStudentSelectingItem as saveSelecting,
    } from "store/action";

    import Promise from "promise";

    export default {
        components: {
            Field,
            Loading,
            LoadingBtn,
            CourseField,
            StudentUncomment,
        },
        data() {
            return {
                weekdayMap: [ "未知", "周一", "周二", "周三", "周四", "周五", "周六", "周日" ],
            };
        },
        vuex: {
            getters: {
                studentUncomment,
                studentCollected,
            },
            actions: {
                showPopup,
                saveSelecting,
                deleteCollected,
                getStudentCollected,
            },
        },
        computed: {
            list() {
                return this.studentCollected.map(course => Object.assign({}, course, {
                    path: `/course/public/elective/${course.number}`,
                    credit: `${course.credit}学分`,
                    time: this.formatTime(course),
                }));
            },
            classifiedList() {
                return this.list.reduce(
                    (classifiedList, course) => {
                        const { weekday } = course;
                        const index = !this.weekdayMap[weekday] ? 0 : weekday;
                        const copy = classifiedList;
                        if (!copy[index]) {
                            copy[index] = [];
                        }
                        copy[index].push(course);
                        return copy;
                    },
                    []
                );
            },
        },
        methods: {
            startLoading() {
                this.isLoading = true;
                return this.$refs.loading.startLoading({
                    contents: [ "努力加载中，客官稍等片刻~" ],
                    promise: this.getStudentCollected(),
                })
                .then(
                    this.endLoading,
                    this.endLoading
                );
            },
            endLoading() {
                this.isLoading = false;
                this.$refs.loading.endLoading();
            },
            isValid(...values) {
                return values.every(value => {
                    const type = typeof value;
                    return (
                        (
                            (type === "string") && !!value.length
                        ) ||
                        (type === "number")
                    );
                });
            },
            formatTime(course) {
                const {
                    weekFrom,
                    weekTo,
                    weekday,
                    classBegin,
                    classOver,
                } = course;

                const items = [];
                if (this.isValid(weekFrom, weekTo)) {
                    items.push(`${weekFrom}-${weekTo}周`);
                }
                if (this.isValid(weekday)) {
                    items.push(`${this.weekdayMap[weekday]}`);
                }
                if (this.isValid(classBegin, classOver)) {
                    items.push(`${classBegin}-${classOver}节`);
                }

                return (!!items.length ? items.join("，") : "未知");
            },
            saveSelectingWrapper(course) {
                return () => this.saveSelecting(course)
                    .then(() => {
                        this.showPopup({
                            alert: true,
                            duration: 2000,
                            contents: "这门课我们已经放到你的选课列表里了哦~",
                        });
                        return Promise.resolve();
                    });
            },
            deleteCollectedWrapper(course) {
                return () => this.deleteCollected(course);
            },
        },
        route: {
            data() {
                return this.startLoading();
            },
        },
    };

</script>

<style scoped>

    ul {
        width: 100%;
        display: inline-block;
    }

    .collected-count {
        margin: 10px 0;
        text-align: right;
        font-size: 14px;
        color: #989898;
        letter-spacing: 1px;
    }

    .list {
        top: -30px;
        position: relative;
    }

    .weekday-tag {
        color: #989898;
        font-size: 14px;
        line-height: 1.5;
    }

    .list-sub-item {
        float: left;
        width: 347px;
        margin: 6px 0;
        padding: 10px 0;
        border-top: 1px solid #aeaeae;
        border-bottom: 1px solid #aeaeae;
        box-sizing: border-box;
        position: relative;
    }

    .list-sub-item:nth-child(odd) {
        margin-right: 30px;
    }

    .course-field {
        left: 0;
        top: 10px;
        padding-left: 6px;
        padding-right: 5px;
        position: absolute;
    }

    .course-detail {
        margin-left: 104px;
        margin-right: 60px;
        color: #989898;
        font-size: 12px;
        line-height: 18px;
    }

    .course-name {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }

    .course-name > a {
        color: #222;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .course-name > a:hover {
        color: #ff5d00;
    }

    .operation-select,
    .operation-delete {
        right: 0;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 1em;
        position: absolute;
    }

    .operation-select {
        bottom: 32px;
        color: #37b6ff;
    }

    .operation-select:hover {
        color: #49dfff;
    }

    .operation-delete {
        bottom: 10px;
        color: #f17868;
    }

    .operation-delete:hover {
        color: #fa442c;
    }

    .icon-select,
    .icon-delete {
        float: left;
        margin-top: 1px;
        margin-right: 5px;
    }

</style>
