<template>

    <div class="page-body">
        <router-view keep-alive>
        </router-view>
        <popup v-ref:popup>
        </popup>
    </div>

</template>

<script>

    import Popup from "module/webapp/Popup";

    import store from "store";
    import {
        popup,
        hasLoggedIn,
        hasShowedPopup,
        studentAccount,
    } from "store/getter";
    import {
        back,
        logIn,
        logOut,
        hidePopup,
        getLoginStatus,
    } from "store/action";

    import {
        isHybrid,
        hybridHandler,
    } from "native";

    import Promise from "promise";

    export default {
        components: {
            Popup,
        },
        store: store.webapp,
        vuex: {
            getters: {
                popup,
                hasLoggedIn,
                hasShowedPopup,
                studentAccount,
            },
            actions: {
                back,
                logIn,
                logOut,
                hidePopup,
                getLoginStatus,
            },
        },
        computed: {
            number() {
                return this.studentAccount.number;
            },
        },
        watch: {
            popup(opts) {
                if (this.hasShowedPopup) {
                    const options = Object.assign({}, opts, {
                        cb: (result) => {
                            this.hidePopup();
                            if (opts.cb instanceof Function) {
                                return opts.cb(result);
                            }
                            return Promise.resolve(result);
                        },
                    });
                    this.$refs.popup.show(options);
                }
            },
        },
        methods: {
            configureHybrid() {
                if (!isHybrid) {
                    return;
                }

                window.back = this.back;
                hybridHandler.setBackCode("window.back()");
                hybridHandler.setStatusBarColor("#16a3a6");

                hybridHandler.getAccount()
                    .then(([ number, password ]) => {
                        if (!!number && !!password) {
                            if (
                                !this.hasLoggedIn ||
                                (number !== this.number)
                                ) {
                                this.logOut();
                                this.logIn({ number, password });
                            }
                        }
                        hybridHandler.finishLoading();
                    });
            },
        },
        ready() {
            this.getLoginStatus()
                .then(this.configureHybrid, this.configureHybrid);
        },
    };

</script>
