<template>

    <div class="page-body wrapper">
        <navigation-bar>
            <back
                slot="nav-left"
                :back="back">
            </back>
            <span slot="nav-body">
                评价课程
            </span>
            <loading-btn
                v-if="hasLoggedIn"
                slot="nav-right"
                :before="validate"
                :after="success"
                :work="deleteUncommentWrapper">
                确认
            </loading-btn>
        </navigation-bar>
        <div
            v-if="hasLoggedIn"
            class="page-body">
            <div
                v-if="!!course"
                class="field-body font-14">
                <p class="font-17">
                    得分： {{ course.score }}
                </p>
                <div
                    v-for="item in items"
                    class="score-item clearfix">
                    <p class="item-title">
                        {{ item.text }}
                    </p>
                    <level-select
                        class="font-11"
                        :value.sync="form.score[item.key]"
                        :inactive="item.inactive"
                        :datasets="item.datasets">
                    </level-select>
                </div>
                <div class="field-comment">
                    <p>多说两句： </p>
                    <textarea
                        v-model="form.comment"
                        class="comment font-14"
                        spellcheck="false"
                        placeholder="快写点你的评论吧~">
                    </textarea>
                </div>
            </div>
            <empty-tip
                v-else
                tip="暂时无法评价这门课呢_(:зゝ∠)_">
            </empty-tip>
            <loading v-ref:loading>
            </loading>
        </div>
        <require-login
            v-else
            tip="未登录不可评课哦~"
            class="page-body">
        </require-login>
    </div>

</template>

<script>

    import Back from "module/webapp/Back";
    import Loading from "module/webapp/Loading";
    import EmptyTip from "module/webapp/EmptyTip";
    import LoadingBtn from "module/common/LoadingBtn";
    import LevelSelect from "module/webapp/LevelSelect";
    import RequireLogin from "module/webapp/RequireLogin";
    import NavigationBar from "module/webapp/NavigationBar";

    import {
        hasLoggedIn,
        studentUncomment,
    } from "store/getter";
    import {
        back,
        showPopup,
        getPublicElectiveItem as getCourse,
        getStudentUncomment as getUncomment,
        deleteStudentUncommentItem as deleteUncomment,
    } from "store/action";

    import Promise from "promise";

    export default {
        components: {
            Back,
            Loading,
            EmptyTip,
            LoadingBtn,
            LevelSelect,
            RequireLogin,
            NavigationBar,
        },
        data() {
            return {
                number: null,
                form: {
                    score: {},
                    comment: "",
                },
                items: [
                    {
                        key: "attendance",
                        text: "评价考勤： ",
                        inactive: "未评价",
                        datasets: [
                            { label: "逢课必点", value: "bad" },
                            { label: "偶尔点点", value: "medium" },
                            { label: "毫无压力", value: "good" },
                        ],
                    },
                    {
                        key: "quality",
                        text: "评价授课： ",
                        inactive: "未评价",
                        datasets: [
                            { label: "照本宣科", value: "bad" },
                            { label: "中规中矩", value: "medium" },
                            { label: "引人入胜", value: "good" },
                        ],
                    },
                    /*
                    {
                        key: "score",
                        text: "评价给分： ",
                        inactive: "未评价",
                        datasets: [
                            { label: "严格负责", value: "bad" },
                            { label: "给分科学", value: "medium" },
                            { label: "宅心仁厚", value: "good" },
                        ],
                    },
                    */
                ],
            };
        },
        vuex: {
            getters: {
                hasLoggedIn,
                studentUncomment,
            },
            actions: {
                back,
                showPopup,
                getCourse,
                getUncomment,
                deleteUncomment,
            },
        },
        computed: {
            course() {
                return (
                    this.studentUncomment.find(
                        ({ number }) => (number === this.number)
                    ) || {}
                );
            },
        },
        watch: {
            hasLoggedIn(has) {
                if (has) {
                    this.startLoading();
                }
            },
        },
        methods: {
            validate() {
                const { score } = this.form;
                const keys = Object.keys(score);
                if ((keys.length !== this.items.length) ||
                    keys.find(key => (typeof score[key] !== "string"))) {
                    this.showPopup({
                        alert: true,
                        duration: 2000,
                        contents: "还有没给分的项哦~",
                    });
                    return Promise.resolve(false);
                }
                return Promise.resolve(true);
            },
            getCourseWrapper() {
                return this.getCourse(this.number);
            },
            deleteUncommentWrapper() {
                return this.deleteUncomment(this.course, this.form);
            },
            success() {
                this.showPopup({
                    alert: true,
                    duration: 2000,
                    contents: "评价成功了哟O(∩_∩)O~~",
                });
                window.setTimeout(this.back, 2100);
            },
            startLoading() {
                return this.$refs.loading.start(
                    this.getUncomment,
                    this.getCourseWrapper
                );
            },
        },
        route: {
            data({ to }) {
                this.number = Number(to.params.number);
                if (this.hasLoggedIn) {
                    return this.startLoading();
                }
                return true;
            },
        },
    };

</script>

<style scoped>

    .page-body.wrapper {
        padding-top: 1.173333rem;
    }

    .field-body {
        color: #3d3d3d;
        line-height: 2;
    }

    .score-item {
        padding: .1rem 0;
        padding-left: 2rem;
        line-height: .68rem;
        position: relative;
    }

    .item-title {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }

    .comment {
        width: 100%;
        min-height: 3rem;
        margin: .2rem 0;
        padding: .2rem .3rem;
        color: #3d3d3d;
        border: 1px solid #b9b9b9;
        border-radius: .133333rem;
        resize: none;
        display: block;
        box-sizing: border-box;
    }

    .comment:focus {
        outline: 0;
        background: #eee;
    }

</style>
