<template>

    <navigation-bar>
        <back
            slot="nav-left"
            :back="back">
        </back>
        <p slot="nav-body"
            class="text-left">
            淘课啦
        </p>
    </navigation-bar>
    <div
        v-if="hasLoggedIn"
        class="page-body">
        <div class="page-field">
            <p class="field-title">
                已选学分统计
            </p>
            <div class="field-body credit-body clearfix">
                <div
                    v-for="item in studentSelected"
                    class="credit-item">
                    <span class="credit-field">
                        {{ item.field }}
                    </span>
                    <span class="credit-number">
                        {{ item.credit }}
                    </span>
                </div>
            </div>
        </div>
        <div class="page-field">
            <p class="field-title">待评价的选修课</p>
            <course-item
                v-for="course in studentUncomment"
                v-link="{ path: commentPathList[$index] }"
                :course="course">
                <span
                    slot="icon"
                    class="icon icon-write">
                </span>
            </course-item>
            <div
                v-if="isEmptyUncomment"
                class="field-body comment-empty">
                <p>喵~暂时没有需要评价的课了哟~</p>
            </div>
        </div>
        <loading
            v-ref:loading>
        </loading>
    </div>
    <require-login
        v-else
        tip="未登录不可评课哦~"
        class="page-body">
    </require-login>

</template>

<script>

    import Back from "module/webapp/Back";
    import Loading from "module/webapp/Loading";
    import RequireLogin from "module/webapp/RequireLogin";
    import NavigationBar from "module/webapp/NavigationBar";
    import CourseItem from "module/webapp/CourseItem/ItemFeature";

    import {
        hasLoggedIn,
        studentSelected,
        studentUncomment,
    } from "store/getter";
    import {
        back,
        getStudentSelected,
        getStudentUncomment,
    } from "store/action";

    export default {
        components: {
            Back,
            Loading,
            CourseItem,
            RequireLogin,
            NavigationBar,
        },
        vuex: {
            getters: {
                hasLoggedIn,
                studentSelected,
                studentUncomment,
            },
            actions: {
                back,
                getStudentSelected,
                getStudentUncomment,
            },
        },
        computed: {
            commentPathList() {
                return this.studentUncomment.map(
                    course => `/comment/${course.number}`
                );
            },
            isEmptyUncomment() {
                return (this.studentUncomment.length === 0);
            },
        },
        watch: {
            hasLoggedIn(has) {
                if (has) {
                    this.startLoading();
                }
            },
        },
        methods: {
            startLoading() {
                return this.$refs.loading.start(
                    this.getStudentSelected,
                    this.getStudentUncomment
                );
            },
        },
        route: {
            data() {
                return this.startLoading();
            },
        },
    };

</script>

<style scoped>

    .credit-body {
        font-size: 14px;
        line-height: 1.8;
    }

    [data-dpr="2"] .credit-body {
        font-size: 28px;
    }

    [data-dpr="3"] .credit-body {
        font-size: 42px;
    }

    .comment-empty {
        padding-top: .266667rem;
        padding-bottom: 1.2rem;
    }

    .credit-item {
        float: left;
        width: 50%;
        box-sizing: border-box;
    }

    .credit-item:nth-child(odd) {
        padding-right: .72rem;
    }

    .credit-item:nth-child(even) {
        padding-left: .72rem;
        padding-right: .466667rem;
    }

    .credit-field {
        float: left;
        color: #212121;
        font-weight: 700;
    }

    .credit-number {
        float: right;
        color: #a1a1a1;
    }

</style>
