<template>

    <div
        v-if="hasLoggedIn"
        class="page-body">
        <empty-tip
            v-if="notInSeason"
            tip="还没到选课阶段哦~">
        </empty-tip>
        <template
            v-else>
            <div class="page-field">
                <p class="field-title">今日选课列表</p>
                <course-item
                    v-for="course in studentSelecting"
                    :course="course"
                    :enable-btn="true"
                    :highlight-digit="true"
                    :loose-mode="true">
                    <loading-btn
                        slot="btn-left"
                        :before="confirm('确定今天不选这门课吗?', '说不定还可以抢救一下......')"
                        :work="deleteSelectingWrapper(course)"
                        class="text-danger">
                        取消选课
                    </loading-btn>
                    <loading-btn
                        v-if="course.hasCirculated"
                        slot="btn-right"
                        :before="confirm('确定取消无限选课吗?')"
                        :work="updateSelectingWrapper(course)"
                        class="text-danger">
                        取消无限选课
                    </loading-btn>
                    <loading-btn
                        v-else
                        slot="btn-right"
                        :work="updateSelectingWrapper(course)"
                        class="text-primary">
                        无限选课
                    </loading-btn>
                </course-item>
                <empty-tip
                    v-if="studentSelecting.length === 0"
                    tip="要不要先去淘几门课？">
                </empty-tip>
            </div>
            <div v-show="studentCirculating.length > 0" class="page-field">
                <p class="field-title">无限选课列表</p>
                <course-item
                    v-for="course in studentCirculating"
                    :course="course"
                    :enable-btn="true"
                    :highlight-digit="true"
                    :loose-mode="true">
                    <loading-btn
                        slot="btn-right"
                        :before="confirm('确定取消无限选课吗?')"
                        :work="updateSelectingWrapper(course)"
                        class="text-danger">
                        取消无限选课
                    </loading-btn>
                </course-item>
            </div>
            <div v-show="studentSelectingFailed.length > 0" class="page-field">
                <p class="field-title">上次未选上的课</p>
                <course-item
                    v-for="course in studentSelectingFailed"
                    :course="course"
                    :enable-btn="true"
                    :highlight-digit="true"
                    :loose-mode="true">
                    <loading-btn
                        slot="btn-right"
                        :work="saveSelectingWrapper(course)"
                        class="text-primary">
                        再次选课
                    </loading-btn>
                </course-item>
            </div>
        </template>
        <loading v-ref:loading></loading>
    </div>
    <require-login
        v-else
        tip="未登录不可选课哦~"
        class="page-body">
    </require-login>

</template>

<script>

    import Loading from "module/webapp/Loading";
    import EmptyTip from "module/webapp/EmptyTip";
    import LoadingBtn from "module/common/LoadingBtn";
    import CourseItem from "module/webapp/CourseItem/ItemDetail";
    import RequireLogin from "module/webapp/RequireLogin";

    import {
        hasLoggedIn,
        studentSelecting,
        studentCirculating,
        studentSelectingFailed,
    } from "store/getter";

    import {
        showPopup,
        getStudentSelecting as getSelecting,
        saveStudentSelectingItem as saveSelecting,
        deleteStudentSelectingItem as deleteSelecting,
        updateStudentSelectingItem as updateSelecting,
    } from "store/action";

    import { code } from "config";

    import Promise from "promise";

    export default {
        components: {
            Loading,
            EmptyTip,
            LoadingBtn,
            CourseItem,
            RequireLogin,
        },
        data() {
            return {
                notInSeason: false,
            };
        },
        vuex: {
            getters: {
                hasLoggedIn,
                studentSelecting,
                studentCirculating,
                studentSelectingFailed,
            },
            actions: {
                showPopup,
                getSelecting,
                saveSelecting,
                deleteSelecting,
                updateSelecting,
            },
        },
        watch: {
            hasLoggedIn(has) {
                if (has) {
                    this.startLoading();
                }
            },
        },
        methods: {
            confirm(...contents) {
                return () => new Promise((resolve) => {
                    this.showPopup({
                        cb: resolve,
                        contents,
                    });
                });
            },
            popupSelectingFailed(message) {
                this.showPopup({
                    alert: true,
                    duration: 2000,
                    contents: [
                        message || "选课失败了(╯﹏╰)",
                        "这门课我们已经放到你的收藏列表里了",
                    ],
                });
            },
            saveSelectingWrapper(course) {
                return () => this.saveSelecting(course)
                    .catch(error => {
                        const pub = code.publicElective;
                        const _code = pub.COLLECTED_AFTER_SAVE_SELECTING_FAILED;

                        if (error && error.status) {
                            const { code, message } = error.status;
                            if (code === _code) {
                                this.popupSelectingFailed(message);
                            }
                        }

                        throw error;
                    });
            },
            deleteSelectingWrapper(course) {
                return () => this.deleteSelecting(course);
            },
            updateSelectingWrapper(course) {
                const { hasCirculated } = course;
                return () => this.updateSelecting(course)
                    .then(() => {
                        if (!hasCirculated && !this.hasShowedPopup) {
                            this.hasShowedPopup = true;
                            this.showPopup({
                                alert: true,
                                duration: 1500,
                                contents: [
                                    "已成功使用无限选课",
                                    "淘课啦将每天自动帮你将该门课程提交",
                                    "注意在你的课表中及时查看，避免遗忘哦~",
                                ],
                            });
                        }
                    });
            },
            loadData() {
                return this.getSelecting()
                    .catch(error => {
                        const _code = (
                            error &&
                            error.status &&
                            error.status.code
                        );
                        if (_code === code.publicElective.NOT_IN_SELECTING_SEASON) {
                            this.notInSeason = true;
                        }
                        else {
                            throw error;
                        }
                    });
            },
            startLoading() {
                return this.$refs.loading.start(this.loadData);
            },
        },
        route: {
            data() {
                if (!this.notInSeason) {
                    return this.startLoading();
                }
                return Promise.resolve();
            },
        },
    };

</script>
