<template>

    <div class="page-body wrapper">
        <navigation-bar
            v-if="isIPhone">
            <back
                slot="nav-left"
                :back="back">
            </back>
            <p slot="nav-body">
                {{ course.name }}
            </p>
            <span
                v-if="isHybrid"
                @click="share"
                slot="nav-right"
                class="icon icon-share">
            </span>
        </navigation-bar>
        <navigation-bar
            v-else
            :light-mode="true">
            <back
                slot="nav-left"
                :black="true"
                :back="back">
            </back>
            <p slot="nav-body"
                class="text-left">
                {{ course.name }}
            </p>
            <span
                v-if="isHybrid"
                @click="share"
                slot="nav-right"
                class="icon icon-black icon-share">
            </span>
        </navigation-bar>
        <div
            v-scroll="insertComment"
            threshold=800
            class="page-body main">
            <div class="page-field">
                <p class="field-title">
                    课程信息
                </p>
                <div class="field-body">
                    <p>
                        {{ course.field }}，
                        学分{{ course.credit }}，
                        {{ course.teacher }}
                    </p>
                    <p>{{ timeLocation }}</p>
                    <a v-if="hasOtherCourses"
                        @click="popupTimeList"
                        class="btn">
                        点击查看本课程其它时间
                    </a>
                </div>
            </div>
            <div class="page-field">
                <p class="field-title">
                    课程简介
                </p>
                <p v-if="isEmptySummary"
                    class="field-body">
                    暂无介绍
                </p>
                <truncate-text
                    v-else
                    :text="course.summary || ''"
                    :limit="80"
                    class="field-body">
                </truncate-text>
            </div>
            <div class="page-field">
                <p class="field-title">
                    统计数据
                </p>
                <div class="field-body">
                    <div class="chart clearfix">
                        <chart
                            v-for="title in chartTitles"
                            :title="title"
                            :series="chartSeries[$index]"
                            class="chart-item">
                        </chart>
                    </div>
                    <div v-if="enable"
                        class="feature clearfix">
                        <loading-btn
                            :work="collect"
                            :class="[
                                course.hasCollected ?
                                'selected' :
                                ''
                            ]"
                            class="feature-btn feature-collect">
                            <span
                                v-if="!isIPhone"
                                class="icon icon-sm icon-heart">
                            </span>
                            {{ collectText }}
                        </loading-btn>
                        <loading-btn
                            :work="select"
                            class="feature-btn feature-select">
                            <span
                                v-if="!isIPhone"
                                class="icon icon-sm icon-ok">
                            </span>
                            选课
                        </loading-btn>
                    </div>
                </div>
            </div>
            <div class="page-field">
                <p class="field-title">
                    评课
                </p>
                <comment-item
                    v-for="comment in commentList"
                    :comment="comment">
                </comment-item>
                <div class="field-body">
                    <p v-if="isEmptyComments">
                        喵~暂时没有评价哟~
                    </p>
                    <p v-if="!hasLoadedAllComments">
                        正在加载更多评论...
                    </p>
                </div>
            </div>
            <loading v-ref:loading>
            </loading>
            <popup
                v-ref:popup
                class="popup">
                <p class="primary">
                    本课程其它时间 ( 可点击查看 ) :
                </p>
                <p v-for="course in otherCoursesTime">
                    <a v-link="{ path: course.path }"
                        @click="hideTimeList">
                        {{ course.time }}
                    </a>
                </p>
            </popup>
        </div>
    </div>

</template>

<script>

    import Back from "module/webapp/Back";
    import Chart from "module/webapp/Chart";
    import Popup from "module/webapp/Popup";
    import Loading from "module/webapp/Loading";
    import LoadingBtn from "module/common/LoadingBtn";
    import CommentItem from "module/webapp/CommentItem";
    import TruncateText from "module/common/TruncateText";
    import NavigationBar from "module/webapp/NavigationBar";

    import {
        hasLoggedIn,
        publicElectiveAll as courseList,
        publicElectiveCommentAllList as commentList,
        publicElectiveCommentPagination as pagination,
    } from "store/getter";
    import {
        back,
        showPopup,
        getPublicElectiveItem as getCourse,
        saveStudentSelectingItem as saveSeleting,
        saveStudentCollectedItem as saveCollected,
        deleteStudentCollectedItem as deleteCollected,
        updatePublicElectiveItemCommentPagination as updatePagination,
    } from "store/action";

    import {
        isHybrid,
        hybridHandler,
    } from "native";

    import { Scroll } from "component/directive";

    import { code } from "config";
    import { isIPhone } from "plugin/environment";
    import { formatTimeLocation } from "module/webapp/CourseItem/util";

    import Promise from "promise";

    export default {
        components: {
            Back,
            Chart,
            Popup,
            Loading,
            LoadingBtn,
            CommentItem,
            TruncateText,
            NavigationBar,
        },
        directives: {
            Scroll,
        },
        data() {
            return {
                isIPhone,
                isHybrid,
                isWaiting: false,
                number: null,
                enable: false,
                keys: [ "attendance", "quality", "score" ],
                chartTitles: [ "考勤力度", "授课质量", "给分情况" ],
                chartLabels: [
                    [ "毫无压力", "偶尔点点", "逢课必点" ],
                    [ "引人入胜", "中规中矩", "照本宣科" ],
                    [ "90-100", "80-90", "0-80" ],
                ],
            };
        },
        vuex: {
            getters: {
                hasLoggedIn,
                courseList,
                commentList,
                pagination,
            },
            actions: {
                back,
                showPopup,
                getCourse,
                saveSeleting,
                saveCollected,
                deleteCollected,
                updatePagination,
            },
        },
        computed: {
            course() {
                const courseList = this.courseList;
                return (courseList[this.number] || {});
            },
            isEmptySummary() {
                return (!this.course || /^\s*$/.test(this.course.summary));
            },
            hasLoadedAllComments() {
                const { page, numPages } = this.pagination;
                return (
                    (numPages !== null) &&
                    (page === numPages)
                );
            },
            otherCoursesTime() {
                if (!this.course.otherCourses) {
                    return [];
                }

                return this.course.otherCourses.map(course => ({
                    time: formatTimeLocation(course),
                    path: `/detail/${course.number}`,
                }));
            },
            hasOtherCourses() {
                return (this.otherCoursesTime.length > 0);
            },
            isEmptyComments() {
                return (
                    this.hasLoadedAllComments &&
                    (this.pagination.numPages === 1) &&
                    (this.commentList.length === 0)
                );
            },
            chartSeries() {
                const { scores = {} } = this.course;
                return this.keys.map(
                    (key, index) =>
                        (scores[key] || [ 1, 1, 1 ]).map(
                            (score, subIndex) => [
                                this.chartLabels[index][subIndex],
                                score,
                            ]
                        )
                );
            },
            timeLocation() {
                return formatTimeLocation(this.course);
            },
            collectText() {
                if (!this.course) {
                    return "";
                }

                const prefix = this.course.hasCollected ? "取消" : "";
                return `${prefix}收藏`;
            },
        },
        methods: {
            popupLogin() {
                this.showPopup({
                    cb: result => (result && this.$router.go("/login")),
                    contents: [ "你还没登陆呢(=@__@=)", "先去登陆吧~" ],
                });
            },
            popupSelectingFailed(message) {
                this.showPopup({
                    alert: true,
                    duration: 2000,
                    contents: [
                        message || "选课失败了(╯﹏╰)",
                        "这门课我们已经放到你的收藏列表里了",
                    ],
                });
            },
            popupTimeList() {
                this.$refs.popup.show();
            },
            hideTimeList() {
                this.$refs.popup.hide();
            },
            collect() {
                if (this.hasLoggedIn) {
                    return (
                        !this.course.hasCollected ?
                        this.saveCollected(this.course) :
                        this.deleteCollected(this.course)
                    );
                }

                this.popupLogin();
                return Promise.resolve();
            },
            select() {
                if (this.hasLoggedIn) {
                    return this.saveSeleting(this.course)
                        .catch(error => {
                            const pub = code.publicElective;
                            const _code = pub.COLLECTED_AFTER_SAVE_SELECTING_FAILED;

                            if (error && error.status) {
                                const { code, message } = error.status;
                                if (code === _code) {
                                    this.popupSelectingFailed(message);
                                }
                            }

                            throw error;
                        });
                }

                this.popupLogin();
                return Promise.resolve();
            },
            loadData() {
                return Promise.all(
                    this.getCourse(this.number),
                    this.updatePagination(this.number, 1)
                );
            },
            insertComment() {
                if (!!this.isWaiting) {
                    return;
                }

                const { page } = this.pagination;
                if (!this.hasLoadedAllComments) {
                    this.isWaiting = true;
                    this.updatePagination(this.number, page + 1)
                        .then(
                            () => (this.isWaiting = false),
                            () => (this.isWaiting = false)
                        );
                }
            },
            share() {
                hybridHandler.shareCourse(
                    this.course.name,
                    window.location.href,
                    "分享淘课啦的优质公选课给你，酷爱来约！(๑•̀ㅂ•́)و✧"
                );
            },
        },
        route: {
            data({ to }) {
                this.enable = true;
                this.number = Number(to.params.number);
                return this.$refs.loading.start(
                    () => this.loadData()
                );
            },
            deactivate() {
                this.enable = false;
                return true;
            },
        },
    };

</script>

<style scoped>

    .page-body {
        background: #fafafa;
    }

    .page-body.wrapper {
        padding-top: 1.173333rem;
    }

    .page-body.main {
        padding-bottom: 1.666667rem;
    }

    .field-body {
        color: #757575;
        background: transparent;
        border: 0;
        font-size: 14px;
        line-height: 24px;
    }

    [data-dpr="2"] .field-body {
        font-size: 28px;
        line-height: 48px;
    }

    [data-dpr="3"] .field-body {
        font-size: 42px;
        line-height: 72px;
    }

    .chart-item {
        float: left;
        width: 33.3333%;
    }

    .feature {
        z-index: 200;
    }

    [data-device="iphone"] .feature {
        margin-top: .266667rem;
    }

    [data-device="other"] .feature {
        left: 0;
        right: 0;
        bottom: .266667rem;
        position: fixed;
    }

    .feature-btn {
        font-size: 17px;
        line-height: 2.3;
        text-align: center;
        display: block;
    }

    [data-device="iphone"] .feature-btn {
        color: #fff;
        font-weight: 500;
        border-radius: .066667rem;
    }

    [data-dpr="2"] .feature-btn {
        font-size: 34px;
    }

    [data-dpr="3"] .feature-btn {
        font-size: 51px;
    }

    [data-device="other"] .feature-btn {
        float: left;
        width: 30%;
        color: #212121;
        background: #fafafa;
        box-shadow: 0 0 1px .5px rgba(0, 0, 0, .5);
        border-radius: 1px;
    }

    [data-device="other"] .feature-btn.selected  {
        color: #fff;
    }

    [data-device="other"] .feature-collect.selected  {
        background: #ff5252;
    }

    [data-device="other"] .feature-select.selected  {
        background: #388e3c;
    }

    [data-device="iphone"] .feature-btn:first-child {
        margin-bottom: .266667rem;
    }

    [data-device="other"] .feature-btn:first-child {
        margin-left: 15%;
        margin-right: 10%;
    }

    [data-device="other"] .feature-btn:last-child {
        margin-right: 15%;
    }

    .feature-collect {
        background: #eead87;
    }

    .feature-select {
        background: #87baee;
    }

    .btn {
        color: #f98a4a;
    }

    .popup a {
        color: #757575;
    }

</style>
