<template>

    <template
        v-if="isIPhone">
        <navigation-bar>
            <back
                slot="nav-left"
                :back="back">
            </back>
            <segmented-control
                slot="nav-body"
                :tags="tags">
            </segmented-control>
        </navigation-bar>
        <router-view keep-alive>
        </router-view>
    </template>
    <template v-else>
        <navigation-bar>
            <back
                slot="nav-left"
                :back="back">
            </back>
            <p slot="nav-body"
                class="text-left">
                淘课啦
            </p>
        </navigation-bar>
        <div class="page-body wrapper">
            <tab-top
                :tags="tags">
            </tab-top>
            <router-view keep-alive>
            </router-view>
        </div>
    </template>

</template>

<script>

    import Back from "module/webapp/Back";
    import TabTop from "module/webapp/TabTop";
    import NavigationBar from "module/webapp/NavigationBar";
    import SegmentedControl from "module/webapp/SegmentedControl";

    import { isIPhone } from "plugin/environment";

    import { back } from "store/action";

    export default {
        components: {
            Back,
            TabTop,
            NavigationBar,
            SegmentedControl,
        },
        data() {
            return {
                isIPhone,
                tags: [
                    { name: "选课列表", link: "CourseSelection" },
                    { name: "收藏列表", link: "CourseCollection" },
                ],
            };
        },
        vuex: {
            actions: { back },
        },
    };

</script>

<style scoped>

    .page-body.wrapper {
        padding-top: .9rem;
    }

</style>
