<template>

    <div
        v-if="hasLoggedIn"
        class="page-body">
        <div class="page-field">
            <course-item
                v-for="course in studentCollected"
                track-by="number"
                :course="course"
                :enable-btn="true"
                :highlight-digit="true"
                :loose-mode="true">
                <loading-btn
                    slot="btn-left"
                    :before="confirm"
                    :work="deleteCollectedWrapper(course)"
                    class="text-danger">
                    删除
                </loading-btn>
                <loading-btn
                    slot="btn-right"
                    :work="saveSelectingWrapper(course)"
                    :after="saveSelectingSuccess"
                    class="text-primary">
                    选课
                </loading-btn>
            </course-item>
            <empty-tip
                v-if="studentCollected.length === 0"
                tip="要不要先去淘几门课？">
            </empty-tip>
        </div>
        <loading v-ref:loading>
        </loading>
    </div>
    <require-login
        v-else
        tip="未登录不可选课哦~"
        class="page-body">
    </require-login>

</template>

<script>

    import Loading from "module/webapp/Loading";
    import LoadingBtn from "module/common/LoadingBtn";
    import EmptyTip from "module/webapp/EmptyTip";
    import RequireLogin from "module/webapp/RequireLogin";
    import CourseItem from "module/webapp/CourseItem/ItemDetail";

    import {
        hasLoggedIn,
        studentCollected,
    } from "store/getter";

    import {
        showPopup,
        getStudentCollected as getCollected,
        deleteStudentCollectedItem as deleteCollected,
        saveStudentSelectingItem as saveSelecting,
    } from "store/action";

    import Promise from "promise";

    export default {
        components: {
            Loading,
            LoadingBtn,
            EmptyTip,
            CourseItem,
            RequireLogin,
        },
        vuex: {
            getters: {
                hasLoggedIn,
                studentCollected,
            },
            actions: {
                showPopup,
                getCollected,
                deleteCollected,
                saveSelecting,
            },
        },
        watch: {
            hasLoggedIn(has) {
                if (has) {
                    this.startLoading();
                }
            },
        },
        methods: {
            confirm() {
                return new Promise((resolve) => {
                    this.showPopup({
                        cb: resolve,
                        contents: "确定要删除这门收藏课程嘛?",
                    });
                });
            },
            deleteCollectedWrapper(course) {
                return () => this.deleteCollected(course);
            },
            saveSelectingWrapper(course) {
                return () => this.saveSelecting(course);
            },
            saveSelectingSuccess() {
                this.showPopup({
                    alert: true,
                    duration: 1500,
                    contents: "已经将这门课加入你的选课列表了哦~",
                });
            },
            startLoading() {
                return this.$refs.loading.start(this.getCollected);
            },
        },
        route: {
            data() {
                return this.startLoading();
            },
        },
    };

</script>
