<template>

    <div class="page-body">
        <router-view keep-alive>
        </router-view>
        <tab>
        </tab>
    </div>

</template>

<script>

    import Tab from "module/webapp/Tab";

    export default {
        components: {
            Tab,
        },
    };

</script>

<style scoped>

    .page-body {
        padding-top: 1.173333rem;
        padding-bottom: 1.6rem;
    }

</style>
