<template>

    <template
        v-if="hasShowedSearch">
        <search-bar
            v-if="isIPhone"
            :search-key.sync="searchKey"
            :cancel-search="back">
        </search-bar>
        <navigation-bar
            v-else
            :light-mode="true"
            :border-bottom="true">
            <back
                slot="nav-left"
                :black="true"
                :back="back">
            </back>
            <input slot="nav-body"
                v-model="searchKey"
                debounce="500"
                class="search"
                placeholder="找感兴趣的课程/老师"
                autofocus>
            <span
                v-show="searchKey.length > 0"
                @click="resetSearchKey"
                slot="nav-right"
                class="icon icon-black icon-close">
            </span>
        </navigation-bar>
    </template>
    <navigation-bar
        v-else>
        <back
            slot="nav-left"
            :back="back">
        </back>
        <p slot="nav-body"
            class="text-left">
            淘课啦
        </p>
        <a slot="nav-right"
            v-link="{ query: { search: true } }"
            class="icon icon-search">
        </a>
    </navigation-bar>
    <div class="page-body wrapper">
        <popular-sheet
            v-if="isPopularMode"
            :popular-list="popularList">
        </popular-sheet>
        <course-filter
            :enable="hasShowedFilter"
            :show-filter="showFilter"
            :hide-filter="hideFilter"
            :current-filters="params"
            :change-filters="changeFilters">
        </course-filter>
        <div
            v-el:course-list
            v-scroll="insert"
            threshold="800"
            class="page-body">
            <course-item
                v-for="course in courseList"
                track-by="number"
                :course="course"
                :enable-btn="false"
                :highlight-digit="true"
                :loose-mode="false">
            </course-item>
            <p class="field-tip">
                {{ tip }}
            </p>
        </div>
        <loading v-ref:loading>
        </loading>
    </div>

</template>

<script>

    import Back from "module/webapp/Back";
    import Loading from "module/webapp/Loading";
    import SearchBar from "module/webapp/SearchBar";
    import CourseItem from "module/webapp/CourseItem/ItemDetail";
    import CourseFilter from "module/webapp/CourseFilter";
    import PopularSheet from "module/webapp/PopularSheet";
    import TruncateText from "module/common/TruncateText";
    import NavigationBar from "module/webapp/NavigationBar";

    import { Scroll } from "component/directive";

    import { isIPhone } from "plugin/environment";

    import {
        publicElectiveParams as params,
        publicElectivePopular as popularList,
        publicElectivePagination as pagination,
        publicElectiveCurrentAllCourseList as courseList,
        hasShowedFilter,
    } from "store/getter";
    import {
        back,
        showSearch,
        showFilter,
        hideFilter,
        getPublicElective as updateCourseList,
        getPublicElectivePopular as getPopular,
    } from "store/action";

    export default {
        components: {
            Back,
            Loading,
            SearchBar,
            CourseItem,
            CourseFilter,
            PopularSheet,
            TruncateText,
            NavigationBar,
        },
        directives: {
            Scroll,
        },
        data() {
            return {
                isIPhone,
                isLoading: false,
                scrollTop: 0,
                hasShowedSearch: false,
                searchKey: "",
            };
        },
        vuex: {
            getters: {
                hasShowedFilter,
                params,
                pagination,
                courseList,
                popularList,
            },
            actions: {
                back,
                showSearch,
                showFilter,
                hideFilter,
                getPopular,
                updateCourseList,
            },
        },
        computed: {
            isPopularMode() {
                return (
                    this.hasShowedSearch &&
                    (this.searchKey.length === 0)
                );
            },
            hasLoadedAllCourses() {
                const { page, numPages } = this.pagination;
                return ((numPages !== null) && (page === numPages));
            },
            tip() {
                return (
                    this.hasLoadedAllCourses ?
                    "已经到了末尾了哟~" :
                    "正在加载更多课程..."
                );
            },
        },
        watch: {
            searchKey(searchKey) {
                this.loadCourses({
                    params: { searchKey },
                });
            },
        },
        route: {
            data({ to }) {
                this.hasShowedSearch = !!to.query.search;
                if (this.pagination.page === 0) {
                    this.insert();
                }
                this.$nextTick(() => (this.$els.courseList.scrollTop = this.scrollTop));
            },
            deactivate() {
                this.scrollTop = this.$els.courseList.scrollTop;
            },
        },
        methods: {
            loadData() {
                return this.getPopular();
            },
            insert() {
                if (!this.hasLoadedAllCourses) {
                    const { page } = this.pagination;
                    this.loadCourses({ page: (page + 1) });
                }
            },
            loadCourses({ params, page = 1 }) {
                if (this.isLoading) {
                    return;
                }

                const end = () => (this.isLoading = false);
                const obj = {
                    params,
                    page,
                };

                this.isLoading = true;
                this.updateCourseList(obj)
                    .then(end, end);
            },
            changeFilters(filters) {
                this.loadCourses({ params: filters });
            },
            resetSearchKey() {
                this.searchKey = "";
            },
        },
        ready() {
            this.$refs.loading.start(this.loadData);
            this.$els.courseList.addEventListener("scroll", () => {
                this.scrollTop = this.$els.courseList.scrollTop;
            });
        },
    };

</script>

<style scoped>

    .page-body.wrapper {
        padding-top: 1rem;
    }

    .search {
        width: 90%;
        height: 90%;
        font-size: 14px;
        line-height: 2;
        border: 0;
        outline: 0;
        background: transparent;
        color: #757575;
        transform: translateY(-2px);
    }

    [data-dpr="2"] .search {
        font-size: 28px;
    }

    [data-dpr="3"] .search {
        font-size: 42px;
    }

</style>
